---
title: Làng Mai năm qua
---

{% set pages = [
    {
        img: "1 - Monastic Retreat_3.jpg",
        position: { A4: [45, 0, 113, 136], Letter: [10, 10, 0, 0] },
        title: "Khóa tu xuất sĩ",
        text: "Trong tiết trời se lạnh và những cơn mưa nhẹ cuối đông, gần 160 xuất sĩ đã tập họp về chùa Pháp Vân, xóm Thượng để tham dự khóa tu xuất sĩ, từ ngày 13 – 20.2, với chủ đề “Đã có đường đi rồi, con không còn lo sợ”.</p><p>Thật ấm áp khi tăng thân xuất sĩ có cơ hội về bên nhau để tiếp xúc với Thầy trong từng hơi thở, từng bước chân cẩn trọng của mình, cũng như trong ánh mắt, nụ cười thân thương của huynh đệ. Nhìn đâu, chúng con cũng thấy Thầy!"
    },{
        img: "2 - Thay_s Ashes 1.jpg"
    },{
        img: "3 - Thay_s Ashes 2.jpg",
        position: { A4: [0, 99, 0, 137], Letter: [10, 10, 0, 0] },
        title: "Đón Thầy về",
        text: "Thầy đã trở về chùa Pháp Vân, xóm Thượng vào một ngày rất đẹp trong tiết đầu xuân, ngày 5.03.2022. Đại chúng có mặt và đón Thầy ở cửa tùng, những cây tùng to lớn, vững chãi mà Thầy đã trồng bốn mươi năm về trước.</p><p>Dưới bóng những cây tùng là từng hàng dài các con của Thầy, cũng đã được Thầy trồng và chăm sóc không ngừng nghỉ qua bao nhiêu năm tháng, đang chắp tay đón Thầy. Giống như mỗi khi chúng con tập trung lại để đi đón Thầy trở về sau mỗi chuyến đi hoằng pháp dài ngày. Lần này Thầy đi đến tận sáu năm và đại chúng lại không được đón Thầy qua những hình ảnh quen thuộc như năm nào. Tất cả đều đã trở thành huyền thoại."
    },{
        img: "5 - Thay_s Ashes 3_adjusted.jpg",
        position: { A4: [5, 0, 0, 137], Letter: [10, 10, 0, 0] },
        text: "Tiếng chuông trống Bát Nhã trầm hùng đón từng bước chân Thầy vào thiền đường Nước Tĩnh. Chúng con cho phép mình sống với cái giây phút bất sinh bất diệt nhưng cũng cho phép mình sống với những cảm xúc nhớ thương. May mắn thay, từng tiếng chuông trống trầm hùng cũng như sự vững chãi của Thầy đã nâng từng bước chân chúng con và mở toang cánh cửa Bát Nhã cho chúng con đi vào. Chúng con đã cùng nhau hát bài “Đã về, đã tới” bằng tiếng Việt, tiếng Anh và tiếng Pháp. Thầy đã về thật rồi! Nhưng sao chúng con, có lúc vẫn muốn đi tìm Thầy?
</p><p>Khóa lễ 49 ngày được diễn ra trong một khóa tu ba ngày (11 – 13.3) với chủ đề “Đến đi thong dong”. Đại chúng có mặt tại mỗi xóm và hơn 500 thiền sinh tham dự trực tuyến đã cùng nhau thực tập và kể những câu chuyện về Thầy. Hoa trái của sự thực tập ấy đích thực là sự tiếp nối của cái hiểu, cái thương mà Thầy rất mong muốn hiến tặng cho xã hội trong thời đại này. Thầy đã cùng làm với chúng con trong khóa tu ấy.
</p><p>Trong lễ 49 ngày tại chùa Pháp Vân, chúng con đã thực hiện theo di huấn của Thầy, thả tro cốt của Thầy trở về với đất Mẹ. Buổi chiều ấy thật đẹp, cả mây, trời và không gian đều đẹp. Các vị cư sĩ ở vùng lân cận đã có mặt với Thầy vào chiều hôm ấy và buổi lễ cũng được truyền trực tuyến cho 15.000 người trên khắp thế giới. Sau phần lễ trong thiền đường Nước Tĩnh, đại chúng mời Thầy đi thăm những con đường thiền hành mà Thầy rất thích. Trong suốt thời gian đi cho đến vườn Bụt, tro cốt được chuyền cho nhiều người để Thầy được nâng niu trong vòng tay trân quý của nhiều đệ tử.

</p><p>Tại đồi Bụt, đại chúng dừng lại và mỗi người được nhận một ít tro, yên lặng đi tìm một gốc cây, một vị Bụt, quán chiếu và gửi niềm thương ấy xuống đất Mẹ. Không ai nói với ai lời nào. Ai cũng muốn giữ sự bình yên ấy thật lâu để được gần bên Thầy. Cuối cùng, đại chúng hợp xướng bài “Tìm nhau” như đó là một lời hẹn thề giữa Thầy và đệ tử.</p><p>Sau đó, trong khóa tu tháng Sáu và khóa tu mùa Hè vào tháng Bảy, các thiền sinh lại được có cơ hội tham dự hai buổi lễ rải tro tại xóm Hạ và xóm Mới."
    },{
        img: "4 - Thay_s Ashes 4.jpg"
    },{
        img: "6 - SPRING RETREATS.jpg",
        position: { A4: [5, 125, 0, 137], Letter: [10, 10, 0, 0] },
        title: "Khóa tu mùa xuân",
        text: "Từ đầu tháng Ba cho đến tháng Năm, Làng mở cửa trở lại để đón thiền sinh đến tu tập mỗi tuần, sau hai năm phải tạm đóng cửa vì đại dịch Covid. Khoảng 500 thiền sinh đã về Làng để cùng tu tập với tăng thân và làm mới chính mình trong không khí tươi mát của đất trời trong mùa tuôn dậy.</p><p>Gần sáu mươi nhà khoa học cũng về tu tập chung với nhau trong một tuần, với chủ đề “Spirituality, Science & Action” (Tâm linh, khoa học và hành động)."
    },{
        img: "7 - Peace - ACND.jpg",
        position: { A4: [130, 0, 0, 0], Letter: [10, 10, 0, 0] },
        title: "Phát hành bộ phim<br/>“Đám mây không bao giờ chết”",
        text: "Trước tình hình chiến tranh và khủng hoảng nhân đạo đang gia tăng ở Ukraine, vào ngày 2 tháng 4 năm 2022, tăng thân Làng Mai đã phát hành bộ phim “Đám mây không bao giờ chết”, một bộ phim tài liệu cảm động về cuộc đời của Thầy, cũng như một bức tâm thư kêu gọi tất cả các bên lâm chiến ngừng giết chóc ở Ukraine.</p><p>Bộ phim là sự hợp tác giữa tăng thân Làng Mai với các nhà làm phim Max Pugh và Marc J. Francis. Với giọng đọc truyền cảm của diễn viên Peter Coyote, bộ phim mang đến cái nhìn sâu sắc về cuộc đời của Thầy – một nhà lãnh đạo tinh thần toàn cầu, nhà thơ và nhà hoạt động vì hòa bình được kính trọng trên toàn thế giới.</p><p>Có phụ đề với hai mươi hai ngôn ngữ khác nhau, bộ phim đã được năm mươi ngàn lượt người xem trong năm giờ công chiếu đầu tiên trên kênh Youtube của Làng Mai. Lá thư kêu gọi hòa bình cho Ukraine cũng đến được với hơn ba mươi ngàn người thông qua mạng xã hội."
    },{
        img: "8 - Monastics On Tour 1.jpg",
        position: { A4: [188, 0, 85, 0], Letter: [10, 10, 0, 0] },
        title: "Hành trình du hóa",
        text: "Đây là mùa xuân đầu tiên kể từ sau đại dịch Covid, các xuất sĩ của Làng có cơ hội lên đường du hóa, đem pháp môn chánh niệm đến nhiều vùng khác nhau của Pháp, Ý, Hà Lan, Thụy Sĩ, Andorra cũng như của Ecuador, Colombia, theo lời mời của các tăng thân địa phương.
</p><p>
Tại Ý, từ ngày 8.3 đến ngày 20.4, tăng đoàn đã tổ chức các buổi pháp thoại công cộng, đi bộ cho hòa bình tại Pisa và Firenze, cũng như ngày quán niệm tại Florence, và khóa tu bốn ngày tại một tu viện Ki-tô giáo ở Lucca. Ngoài ra, một nhóm quý thầy, quý sư cô còn tổ chức một khóa tu hành hương từ Santuario della Verna đến Assisi."
    },{
        img: "9 - Monastics On Tour 2.jpg",
        position: { A4: [90, 85, 0, 0], Letter: [10, 10, 0, 0] },
        text: "Tại Ecuador (18 – 29.3) và Colombia (9-17.4),  quý thầy, quý sư cô có cơ hội đem pháp môn chánh niệm đến với gần 900 người thông qua các khóa tu cũng như các buổi pháp thoại công cộng do tăng đoàn hướng dẫn.
</p><p>
Ngoài ra, trong mùa xuân quý thầy, quý sư cô còn hướng dẫn một khóa tu trượt băng (skiing retreat) tại Andorra; cũng như hướng dẫn khóa tu tại Wilderswil, Thụy Sĩ.
</p><p>
Trong tháng Tư, lần đầu tiên một nhóm gồm chín thầy và sư cô (phần lớn là người Pháp) đã tổ chức một chuyến hoằng pháp bằng xe van vòng quanh nước Pháp. Trong cả chuyến đi, tăng đoàn đã có cơ hội gặp gỡ và chia sẻ pháp môn chánh niệm với hơn một ngàn người. 
</p><p>
Tại Hà Lan, từ ngày 28.4 đến ngày 8.5, tăng đoàn đã tổ chức khóa tu, ngày quán niệm, đi bộ cho hòa bình, cũng như lễ truyền 14 Giới cho bốn thành viên trong tăng thân địa phương."
    },{
        img: "10 - 40 years PV 1.jpg"
    },{
        img: "11 - 40 Years PV 2.jpg",
        position: { A4: [-7, 105, 0, 0], Letter: [10, 10, 0, 0] },
        title: "Mừng 40 năm Làng Mai",
        text: "Làng Mai ăn mừng 40 tuổi khi chính quyền Pháp vừa bỏ những quy định về giãn cách xã hội và tình trạng dịch bệnh cũng đã thuyên giảm ở châu Âu. Sau hai năm chờ đợi, mọi người lại được gặp nhau ở Làng, ai ai cũng nhìn nhau vui sướng vì vẫn còn có nhau. 
</p><p>
Khóa tu tháng 6 là khóa đầu tiên tăng thân tổ chức mừng Làng Mai 40 tuổi. Thay vì 21 ngày như trước đây, khóa tu rút ngắn lại thành 14 ngày (3 – 17.6), cũng vì lo ngại tăng thân xuất sĩ đuối sức và để có khoảng thời gian nghỉ ngơi trước khóa tu mùa Hè. May mắn thay đó lại là một quyết định rất sáng suốt của tăng thân, vì trong thời gian khóa tu diễn ra quý thầy, quý sư cô bị lây nhiễm Covid và phải cách ly. Dù thiếu người nhưng khóa tu vẫn diễn ra rất trôi chảy.
</p><p>
Ngoài sự tham dự của 500 thiền sinh, đại chúng còn được chào đón nhiều quý thầy lớn, quý sư cô lớn từ các trung tâm ở Mỹ và Việt Nam sang thăm Làng. Có nhiều vị xa Làng cũng khá lâu. Vì vậy chỉ cần gặp lại nhau thôi là đã thấy vui rồi! 
</p><p>
Trong dịp này, đại chúng có cơ hội được xem những hình ảnh của Làng qua năm tháng, cũng như lắng nghe chia sẻ của quý thầy, quý sư cô và các thân hữu đã gắn bó với Làng từ những ngày đầu. Trong lòng ai cũng dâng lên niềm biết ơn đối với Thầy, đối với các bậc đi trước đã đem hết tình thương dựng xây nên cõi Tịnh Độ này. 
</p><p>
Trong khóa tu có một ngày chính thức ăn mừng Làng Mai 40 tuổi với chương trình rất đặc sắc. Ngày hôm ấy, đại chúng được thiền hành trên con đường tùng huyền thoại dẫn xuống Sơn Hạ. Hai bên đường là những tấm thư pháp của Thầy được viết với nhiều ngôn ngữ. Vừa tới Sơn Hạ, đại chúng được chào đón bởi tiếng nhạc du dương của dàn hợp tấu cũng như thưởng thức điệu múa “Châu ngọc Pháp Hoa” do quý sư cô trình diễn. Thêm vào đó, đại chúng còn có cơ hội thưởng thức những tấm thư pháp của Thầy được ban tổ chức trưng bày rất đẹp và công phu."
    },{
        img: "12 - 40 Years PV 3.jpg"
    },{
        img: "13 - Wake Up and Summer_e.jpg",
        position: { A4: [137, 0, 0, 99], Letter: [10, 10, 0, 0] },
        title: "Mùa hè ở Làng",
        text: "Vì lần đầu tiên Làng mở cửa trở lại sau đại dịch nên tăng thân quyết định tổ chức khóa tu mùa hè trong hai tuần (15 – 29.7), thay vì bốn tuần như trước đây. Gần 1500 thiền sinh, trong đó có đông các em thiếu nhi, thanh thiếu niên và người trẻ, đã về lại Làng cùng tu tập trong hai tuần này. Trước đó, tăng thân cũng đã chào đón hơn 350 người trẻ về tu tập trong khóa tu Wake Up, từ ngày 1-8.7."
    },{
        img: "14 - Rains Retreat 2022.jpg",
        hasPageFooter: true,
        position: { A4: [137, 0, 94, 0], Letter: [10, 10, 0, 0] },
        title: "An cư kiết thu",
        text: "Năm nay, tứ chúng Làng Mai tại Pháp gồm 255 vị (159 xuất sĩ, 2 tập sự và 94 cư sĩ) có cơ hội an cư ba tháng chung với nhau, từ ngày 15.09 đến ngày 13.12.
        </p><p>Trong suốt mùa an cư, đại chúng có cơ hội học hỏi và thực tập với chủ đề Đạo Bụt dấn thân, Đạo Bụt nhập thế. Sự có mặt của sư cô Chân Không cũng như nhiều quý thầy, quý sư cô lớn khác đã tiếp thêm năng lượng ấm áp, vững chãi cho đại chúng."
    },{
        img: "15 - Novice Ordination_n2.jpg",
        position: { A4: [90, 85, 0, 0], Letter: [10, 10, 0, 0] },
        title: "Ba lễ xuất gia",
        text: "Dù sắc thân đã ẩn tàng, Thầy vẫn đang không ngừng được tiếp nối nơi vô vàn những hóa thân khác. Trong năm 2022, tăng thân đã chào đón thêm 25 thành viên mới, thế hệ đầu tiên mang pháp hiệu của Thầy - các sư chú với chữ “Nhất”, các sư cô với chữ “Hạnh”:</p><p>
<i><b>Cây Tùng Lọng - Stone Pine</b></i> (ngày 12.06 tại tu viện Vườn Ươm, Thái Lan) gồm các sư chú: Chân Nhất Nguyện, Chân Nhất Niệm, Chân Nhất Lưu.</p><p>
<i><b>Cây Táo Nhỏ -  Manzanita</b></i> (ngày 25.09 tại tu viện Lộc Uyển, Mỹ) gồm các sư chú: Chân Nhất Hướng và Chân Nhất Ấn.
</p><p>
<i><b>Cây Xích Tùng - Red Cedar</b></i> (ngày 18.12 tại tu viện Vườn Ươm, Thái Lan) gồm các sư chú: Chân Nhất Thể, Chân Nhất Đạo, Chân Nhất Đăng, Chân Nhất Chiếu, Chân Nhất Thừa, và các sư cô: Chân Lạc Hạnh, Chân Pháp Hạnh, Chân Bi Hạnh, Chân Phước Hạnh, Chân Giới Hạnh, Chân Tuệ Hạnh, Chân Nhân Hạnh, Chân Xuân Hạnh, Chân Quang Hạnh, Chân Khiêm Hạnh, Chân Bảo Hạnh, Chân Bối Hạnh, Chân Dung Hạnh, Chân Phổ Hạnh, Chân Tường Hạnh."
    },{
        img: "16 - Lamps_n2.jpg",
        position: { A4: [190, 0, 85, 0], Letter: [10, 10, 0, 0] },
        title: "Lễ truyền đăng",
        text: "Trong năm 2022, tăng thân đã chào đón 31 vị giáo thọ mới, cả xuất sĩ và cư sĩ. Các buổi lễ truyền đăng được tổ chức tại Làng Mai Pháp trong khóa tu tháng Sáu với chủ đề <i>“Đã có đường đi rồi, con không còn lo sợ”</i> và khóa tu an cư kiết thu. Bên cạnh đó, ư cô Chân Không đã trực tiếp truyền đăng cho hai vị giáo thọ mới tại tu viện Bích Nham vào ngày 3.9, nhân chuyến hoằng pháp của Sư cô tại Mỹ."
    },{
        includeFile: "src/2023/vi/articles/includes/transmission-gathas-vn.md"
    },{
        img: "17 - SCCK Honor_e.jpg",
        position: { A4: [114, 0, 0, 100], Letter: [10, 10, 0, 0] },
        title: "Sư cô Chân Không được trao bằng Tiến sĩ danh dự",
        text: "Vào ngày 10 tháng 12 năm 2022, Viện trưởng trường Đại học Phật giáo Hoàng gia Thái Lan (Mahachulalongkornrajavidyalaya University - MCU) đã trao bằng Tiến sĩ danh dự trong lĩnh vực công tác xã hội cho Ni Trưởng Làng Mai - Sư cô Thích Nữ Chân Không để vinh danh những đóng góp của Sư cô vì hạnh phúc và lợi ích cộng đồng cho đất nước Việt Nam cũng như trên toàn thế giới."
    },{
        img: "18 - Thay_s Memorial 1.jpg",
        position: { A4: [189, 0, 0, 0], Letter: [10, 10, 0, 0] },
        title: "Lễ Tiểu tường tại chùa Tổ",
        text: "Đã một năm trôi qua kể từ ngày Thầy xả bỏ báo thân, rong chơi trời phương ngoại. Các trung tâm thuộc Làng Mai khắp nơi trên thế giới đều gửi đại diện về tham dự lễ Tiểu tường của Thầy tại Tổ đình Từ Hiếu.</p><p>
Gần một ngàn Phật tử cư sĩ trên khắp đất nước cũng tề tựu về chốn Tổ trong dịp đặc biệt này. Sự có mặt của hai Thượng tọa đến từ Hàn Quốc càng làm cho buổi lễ thêm đặc biệt.</p><p>
Dù trời đổ mưa to và lạnh, nhưng ai nấy đều lặng yên, trở về, có mặt với nhau để cùng ngồi thiền, tụng kinh, lạy sám pháp địa xúc, tụng Năm Giới để chế tác năng lượng bình an, thương yêu cúng dường lên vị Thầy kính thương.
</p><p> 
Tối ngày mùng 9.1.2023, trước ngày diễn ra lễ Tiểu tường, tăng thân có cơ hội ngồi quây quần bên nhau trong buổi lễ tưởng niệm để kể cho nhau nghe những kỷ niệm về Thầy trong không khí sum vầy, ấm áp tình thầy trò, tình huynh đệ đồng môn."
    },{
        img: "19 - Thay_s Memorial 2.jpg"
    },{
        img: "20 - Thay_s Memorial 3.jpg"
    }
] %}

{# },{ #}
{# img: "16 - Lamps_P2.jpg" #}

{%- for page in pages -%}
    {%- if page.img %}
    <div class="full-page-background-img-bleed">
        {% image [ "Lang Mai Nam Qua ", size_label ," Final No Text/", page.img ] | join %}
    </div>
    {%- endif %}

    {%- if page.position %}
    <div class="positioned-text-box" id="{{ page.img | slugify }}" style="
        top: {{ page.position[size_label][0] }}mm;
        left: {{ page.position[size_label][1] }}mm;
        right: {{ page.position[size_label][2] }}mm;
        bottom: {{ page.position[size_label][3] }}mm;
    ">
    {%- endif %}

    {%- if page.title %}
    {# 'safe' allows for the text to contain html #}
    <h1>{{ page.title | safe }}</h1>
    {%- endif %}
    
    {%- if page.includeFile %}
    {% renderFile page.includeFile %}
    {%- endif %}

    {%- if page.text %}
    <p>{{ page.text | safe }}</p>
    {%- endif %}
    
    {%- if page.position %}
    </div>
    {%- endif %}

    {%- if not loop.last %}
    <div class="page-break"></div>
    {%- endif %}
{%- endfor -%}
