---
permalink: "vi/"
---
{% extends "layouts/web.njk" %}

    {% block content %}
    <header class="index-header">
        <h1><img src="{% imageSrc 'calligraphy/la tho lang mai/la-tho-lang-mai.svg' %}" alt="Lá thư Làng Mai"></h1>
        <h2>Mục lục</h2>
    </header>
    <ul class="toc">
        {%- for article in collections.articles_vi -%}
            {%- if article.data.chapter -%}
            <li class="chapterLi" id="li-{{ article.data.title | slugify }}">
                <span class="toc-chapter-title">{{ article.data.title }}</span>
            {%- else -%}
            <li id="li-{{ article.data.title | slugify }}">
                <a class="toc-links" href="{{ article.url }}">
                <span class="toc-title">{{ article.data.title }}</span>
                {%- if not article.data.author == "" -%}
                <br/><span class="toc-author">{{ article.data.author }}</span></a>
                {%- endif -%}
                <a class="print" href="{{ article.url | replace('bai', 'articles-print-preview') }}"><span class="emoji">🖨️</span></a>
            {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
    {% endblock %}
