---
title: Review of the Year
---

{# "Letter" needs to be manually set here, if it is Letter format #}
{# {% set size_label = "Letter" %} #}

{% set pages = [
    {
        img: "1 - Monastic Retreat_3.jpg",
        position: { A4: [45, 0, 113, 136], Letter: [68, 0, 104, 136] },
        title: "Monastic Retreat",
        text: "Nearly 160 monastics from around Europe gathered in the Dharma Cloud Temple for a monastic retreat from February 13-26 with the theme “Now We Have a Path, There is Nothing to Fear.”
</p><p>
It was a profound and delightful 10 days as we learned from our elders, shared  experiences among our peers, envisioned the future together and practiced side by side as one spiritual family."
    },{
        img: "2 - Thay_s Ashes 1.jpg"
    },{
        img: "3 - Thay_s Ashes 2.jpg",
        position: { A4: [-6, 99, -6, 137], Letter: [-6, 99, -6, 137] },
        title: "Spreading<br/>Thay’s Ashes",
        text: "In early March, Thay’s senior disciples from around the world invited Thay’s ashes home to each Plum Village center. 
        </p><p>
        In Plum Village France, the multifold sangha gathered at Dharma Cloud Temple on March 5 to receive Thay’s ashes with a solemn ceremony, accompanied by the sound of the Great Temple Bell and the Prajna drums.
        </p><p>On 13 March, we held a 3-day online retreat with over 500 practitioners to honor the 49th day of Thay’s passing. We returned part of Thay’s ashes to the earth while over 15,000 sangha friends joined online. Holding Thay’s ashes reverently in our palms, we each connected deeply with Thay in our heart.
        </p><p>Then in June and July—together with Thay’s most senior monastic and lay disciples, who came to honor Thay and celebrate 40 Years of Plum Village—we spread Thay’s ashes in Lower Hamlet and New Hamlet."
    },{
        img: "5 - Thay_s Ashes 3.jpg"
    },{
        img: "4 - Thay_s Ashes 4.jpg"
    },{
        img: "6 - SPRING RETREATS.jpg",
        position: { A4: [68, 125, 0, 137], Letter: [71, 133, -7, 137] },
        title: "Spring Retreats",
        text: "From early March to May—after two years of closure—it was a great joy to reopen and receive over 500 retreatants, including a special retreat for scientists, as spring dazzled us with her ephemeral wonders."
    },{
        img: "7 - Peace - ACND.jpg",
        position: { A4: [130, 0, 0, 0], Letter: [130, 0, 0, 0] },
        title: "A Cloud Never Dies",
        text: "In response to the growing humanitarian crisis in Ukraine, the Plum Village community released <i>A Cloud Never Dies</i>, a documentary about the life of Thay, on April 2.
</p><p>The film traces Thay’s footsteps from his early days in Vietnam, through his peace efforts during the war, to building an international community of practice, and his return to Vietnam. The film was viewed over 50,000 times within 5 hours of its release. 
</p><p>On the same day, the Sangha wrote an open letter calling for peace in 14 languages to offer hope through Thay’s teaching of “Peace in oneself, peace in the world.”
"
    },{
        img: "8 - Monastics On Tour 1.jpg",
        position: { A4: [188, 0, 85, 0], Letter: [188, 0, 85, 0] },
        title: "Monastics on Tour",
        text: "Our monastic siblings joined hands with lay sanghas to share the practice everywhere,
from the rainforests of Latin America to the Franciscan chapels of Italy and hikes in the French Alps."
    },{
        img: "9 - Monastics On Tour 2.jpg",
        position: { A4: [90, 85, 0, 0], Letter: [96, 85, 0, 0] },
        text: "In every country, we had the opportunity to connect with up to a thousand friends. Many people came to heal the grief of losing loved ones in recent times. The retreats also sprouted new sanghas such as the Wake Up sangha in Bogota. While not all of our monastics spoke the local language, they were able to connect through songs, games, and being present, especially for the children.
        </p><p>The sisters and brothers on tour were beautifully living and touring together, practising the Six Harmonies, bringing their harmony and diverse methods of teaching with them. In turn, the happiness they saw among the lay friends was their greatest nourishment."
    },{
        img: "10 - 40 years PV 1.jpg"
    },{
        img: "11 - 40 Years PV 2.jpg",
        position: { A4: [15, 110, 0, 0], Letter: [15, 110, 0, 0] },
        title: "40 Years of Plum Village",
        text: "The Plum Village Tradition formally turned 40 in June! To mark this legendary moment, we held a special 14-Day retreat. 
</p><p>Thay’s senior lay and monastic disciples from  around the world came to honor Thay’s legacy, share sangha-building experiences, and  transmit their insights to the younger generations.
</p><p>Alongside the classic practice schedule, specially curated sessions were offered, including a  Music and Poetry evening, “Tales from the Old Timers,”  an exhibition of Thay’s calligraphy, as well as a ceremony to transmit the Dharma Lamp."
    },{
        img: "12 - 40 Years PV 3.jpg"
    },{
        img: "13 - Wake Up and Summer.jpg",
        position: { A4: [137, 0, 0, 99], Letter: [137, 0, 0, 99] },
        title: "Wake Up and Summer retreats",
        text: "In July, we welcomed over 350 young friends to a one-week Wake Up Humanity Retreat (July 1 - 8), and over 1,500 practitioners, mainly families with children and teens for a vibrant Summer Opening (July 15 - 29)."
    },{
        img: "14 - Rains Retreat 2022.jpg",
        hasPageFooter: true,
        position: { A4: [137, 0, 94, 0], Letter: [137, 0, 94, 0] },
        title: "Rains Retreat",
        text: "We were blessed by the presence of our elders during this 3-months Autumn Rains Retreat that started on September 14 with 255 monastic and lay practitioners.
        </p><p> During this retreat, which focused on Engaged Buddhism, friends at home practiced with us through the weekly teachings posted online, with questions for reflection and home practices."
    },{
        img: "15 - Novice Ordination_n2.jpg",
        position: { A4: [90, 87, 0, 0], Letter: [97, 87, 0, 0] },
        title: "Novice Ordination",
        text: "During the year, 25 new novices were born into the  Plum Village family, coming home to centers in Thailand, Vietnam, US, and France.
        </p><p>This new generation of “youngsters” are the first of the Plum Village monastics to carry our teacher’s name - “Nhat” for the brothers and “Hanh” for the sisters.</p><p>
<i><b>Stone Pine family</b></i> (on June 12 in Plum Village Thailand): Brs. Chân Nhất Nguyện, Chân Nhất Niệm, and Chân Nhất Lưu.</p><p>
<i><b>Manzanita family</b></i> (on September 25 in Deer Park): Brs. Chân Nhất Hướng and Chân Nhất Ấn.
</p><p>
<i><b>Red Cedar family</b></i> (on December 18 in Plum Village Thailand) Brs. Chân Nhất Thể, Chân Nhất Đạo, Chân Nhất Đăng, Chân Nhất Chiếu, Chân Nhất Thừa, and Srs: Chân Lạc Hạnh, Chân Pháp Hạnh, Chân Bi Hạnh, Chân Phước Hạnh, Chân Giới Hạnh, Chân Tuệ Hạnh, Chân Nhân Hạnh, Chân Xuân Hạnh, Chân Quang Hạnh, Chân Khiêm Hạnh, Chân Bảo Hạnh, Chân Bối Hạnh, Chân Dung Hạnh, Chân Phổ Hạnh, Chân Tường Hạnh."
    },{
        img: "16 - Lamps_n2.jpg",
        position: { A4: [190, 0, 85, 0], Letter: [190, 0, 85, 0] },
        title: "Lamp transmission",
        text: "In June, September and November, Br. Phap Ung, Sr. Chan Khong and Sr. Chan Duc represented the sangha to transmit the Dharma Lamp to 31 new Dharma teachers, both lay and monastic students of Thay."
    },{
        includeFile: "src/2023/en/articles/includes/transmission-gathas.md"
    },{
        img: "17 - SCCK Honor_e.jpg",
        position: { A4: [114, 0, 0, 100], Letter: [114, 0, 0, 100] },
        title: "Sister Chan Khong receives an<br/>Honorary Doctorate",
        text: "On December 10, Sr. Chan Khong received an honorary Doctorate in social work from Mahachulalongkornrajavidyalaya University in Thailand, in recognition of her work for peace and social justice over many decades, including her humanitarian relief work, and promotion of the status of women within Vietnam."
    },{
        img: "18 - Thay_s Memorial 1.jpg",
        position: { A4: [189, 0, 0, 0], Letter: [193, 0, 0, 0] },
        title: "Thay’s Memorial",
        text: "10 January 2023 marked one year since Thay’s transition according to the lunar calendar.
</p><p>
Nearly 1,000 monastic and lay practitioners of various traditions gathered at Tu Hieu Temple (Hue, Central Vietnam) to honor our teacher. It was here that Thay ordained as a novice monk in 1942.
</p><p>
On the evening of January 9, Plum Village brothers and sisters from around the world sat together with guest monks and nuns to share loving memories of Thay.
</p><p>
January 10 began with a silent walking meditation on the grounds of Tu Hieu Temple amidst the cool rain. This was followed by a memorial ceremony led by several venerable monks and nuns who were students of Thay in the 1960s.
</p><p>
The sangha also chanted sutras, practiced Touching the earth and recited the Five Mindfulness Trainings to cultivate the energy of peace, love, and reverence."
    },{
        img: "19 - Thay_s Memorial 2.jpg"
    },{
        img: "20 - Thay_s Memorial 3.jpg"
    }
] %}

{# },{ #}
{# img: "16 - Lamps_P2.jpg" #}

{%- for page in pages -%}
    {%- if page.img %}
    <div class="full-page-background-img-bleed">
        {% image [ "Lang Mai Nam Qua ", size_label ," Final No Text/", page.img ] | join %}
    </div>
    {%- endif %}

    {%- if page.position %}
    <div class="positioned-text-box" id="{{ page.img | slugify }}" style="
        top: {{ page.position[size_label][0] }}mm;
        left: {{ page.position[size_label][1] }}mm;
        right: {{ page.position[size_label][2] }}mm;
        bottom: {{ page.position[size_label][3] }}mm;
    ">
    {%- endif %}

    {%- if page.title %}
    {# 'safe' allows for the text to contain html #}
    <h1>{{ page.title | safe }}</h1>
    {%- endif %}
    
    {%- if page.includeFile %}
    {% renderFile page.includeFile %}
    {%- endif %}

    {%- if page.text %}
    <p>{{ page.text | safe }}</p>
    {%- endif %}
    
    {%- if page.position %}
    </div>
    {%- endif %}

    {%- if not loop.last %}
    <div class="page-break"></div>
    {%- endif %}
{%- endfor -%}
