:root {
    --color-sun: #FFD22A;
    --color-sun-light: rgba(255, 210, 42, 50%);
    --color-earth: #8B572A;
    --color-grey: #9a9a9a;
    --color-ocean: #001780;
}

body {
    margin: 3em;
    font-size: 1.2em;
}

h1 {
    color: var(--color-bark-dark);
    font-size: 1.5em;
}
h1 img {
    max-height: 6em;
}

h2 {
    font-size: 1.2em;
}

a {
    color: var(--color-ocean);
    text-decoration: none;
    box-sizing: border-box;
    box-shadow: var(--color-sun-light) 0px -.1em 0px 0px inset;
    transition: all 400ms cubic-bezier(0.15, 0.53, 0.35, 1);
}

a.altColor {
    color: var(--color-bark-dark);
}
  
a:hover {
    text-decoration: none;
	box-shadow: inset 0 -.4em var(--color-sun);
}

body > ul > li > ul {
    margin-bottom: 0.9em;
}
body > ul > li > ul > li > ul {
    margin-bottom: 0.4em;
}
body > ul > li > ul > li > ul > li {
    font-size: 0.95em;
    line-height: 125%;
}

.overview_small {
    max-width: 15em;
}

ul#overview {
    padding-left: 0;
}
ul#overview li {
    display: inline-block;
    width: 15em;
    vertical-align: top;
}
ul#overview li + li {
    margin-left: 2em;
}

.fullsize {
    float: right;
    margin: 0;
    font-size: 0.8em;
}