
{%- if subLayout[pagination.pageNumber] %}
    {% extends subLayout[pagination.pageNumber] %}
{%- else %}
    {% extends "layouts/web.njk" %}
{%- endif %}

    {% block content %}
        {% set fileSlug = page.fileSlug %}
        
        <article class="article-{{ title | slugify }}">
            {%- if preceeding_full_page_image %}
                <div class="full-page-image">
                    {% image preceeding_full_page_image %}
                </div>
            {%- endif %}

            {% set artCall = articleCalligraphies(fileSlug) %}
            {%- if artCall.hasCalligraphy %}
                <h1 id="{{ title | slugify }}" class="calligraphyTitle">
                    {% image artCall.calligraphyFile, "articleCalligraphy" %}
                </h1>
            {%- else %}
                <h1 id="{{ title | slugify }}">{{ title }}</h1>
            {%- endif %}

            {%- if author %}
                <h2 class="author">{{ author }}</h2>
            {%- endif %}
                {{ content | safe }}
            <div class="article-end"></div>
        </article>
    {% endblock %}
