
{%- if subLayout[pagination.pageNumber] %}
    {% extends subLayout[pagination.pageNumber] %}
{%- else %}
    {% extends "layouts/web.njk" %}
{%- endif %}

    {% block content %}
        {% set fileSlug = page.fileSlug %}
        {% include "partials/article-content.njk" %}

    {% endblock %}
