{% extends "layouts/print-frame.njk" %}
{% block content %}

{% set chapter = {en: "Chapter", vi: "Chương"} %}

<div id="table-of-contents">
    <h1>{{ i18n.toc }}</h1>
    <ul class="toc">
        {%- for article in articles -%}
            {%- if article.data.chapter -%}
            <li class="chapterLi">
                <a class="" href="#{{ article.data.title | slugify }}">
                <span class="toc-chapter">{{ chapter[locale] }} {{ article.data.chapter }}:</span><br/><span class="toc-chapter-title">{{ article.data.title }}</span>
            {%- else -%}
            <li>
                <a class="toc-links" href="#{{ article.data.title | slugify }}">
                <span class="toc-title">{{ article.data.title }}</span>
                {%- if not article.data.author == "" -%}
                <br/><span class="toc-author">{{ article.data.author }}</span>
                {%- endif -%}
            {%- endif -%}
            </a></li>
        {%- endfor -%}
    </ul>
</div>

<div class="front-cover bleed">
    <div class="full-page-image">
        {% image ["LTLM45-2022 cover front v2022-02-", locale, "-", size ,".jpg"] | join %}
    </div>
</div>

<div class="front-collage bleed">
    {% image "LTLM45-2022-inside-covers-V2022-02-left.jpg" %}
</div>

<div id="title-page">
{%- if locale == "en" -%}
    <h1>{% image "calligraphy/you-have-seen-the-path/you-have-seen-the-path-masked.webp" %}</h1>
    {% image "calligraphy/article titles 2 and dividers/5-masked/Dividers2-2-straight.webp" %}
    <h2>Celebrating <span class="num40">40</span> Years of Plum Village<span id="ambrsd">&</span>Honoring our Beloved Teacher<span id="tnh">Thich Nhat Hanh</span></h2>
{%- endif -%}

{%- if locale == "vi" -%}
    {# da-co-duong-di-roi-con-khong-con-lo-so #}
    <h1>{% image "calligraphy/article titles/webp-marked/V2_Da-Co.webp" %}</h1>
    {% image "calligraphy/article titles 2 and dividers/5-masked/Dividers2-2-straight.webp" %}
    <h2>Translating: <span class="num40">40</span> Years of Plum Village<span id="ambrsd">&</span>Honoring our Beloved Teacher<span id="tnh">Thich Nhat Hanh</span></h2>
{%- endif -%}
</div>



{%- for article in articles -%}
    {% set title = article.data.title %}
    {% set author = article.data.author %}
    {% set content = article.data.content %}
    {% set fileSlug = article.fileSlug %}

    {%- if article.data.chapter -%}
        <section class="chapter" id="{{ title | slugify }}">
            <h2>{{ chapter[locale] }} {{ article.data.chapter }}</h2>
            <h1>{{ title }}</h1>
            {{ content | safe }}
        </section>
    {%- else -%}
        <article class="article-{{ title | slugify }}">
            {% set artCall = articleCalligraphies(fileSlug) %}
            {%- if artCall.hasCalligraphy %}
                <h1 id="{{ title | slugify }}" class="calligraphyTitle">
                    {# <img class="articleCalligraphy" src="{{ artCall.calligraphyFile }}"> #}
                    {% image artCall.calligraphyFile, "articleCalligraphy" %}
                </h1>
            {%- else %}
                <h1 id="{{ title | slugify }}">{{ title }}</h1>
            {%- endif %}

            <h2 class="author">{{ author }}</h2>
            {{ content | safe }}
            <div class="article-end"></div>
        </article>
    {%- endif -%}
{%- endfor -%}

<div class="back-collage bleed">
    {% image "back-photos-bleed.jpg" %}
</div>
<div class="front-collage bleed">
    {% image "front-photos-bleed.jpg" %}
</div>

<div class="back-collage bleed">
    {% image "LTLM45-2022-inside-covers-V2022-02-right.jpg" %}
</div>
<div class="back-cover bleed">
    <div class="full-page-image">
        {% image ["LTLM45-2022-cover-back-", locale, "-v20220209a.jpg"] | join %}
    </div>
</div>

{# {% include "partials/testing.njk" %} #}

{% endblock %}
