<!DOCTYPE html>
<html dir="ltr" lang="{{ locale }}" class="">
<head>
    <meta charset="utf-8" />
    {% set i18n = site[locale] %}
    {% set articles = collections["articles_" + locale] %}
    {% set images = collections["images"] %}
    <title>{{ i18n.title }}</title>
    <meta name="author" content="{{ i18n.author }}" />
    <meta name="subject" content="" />
    <meta name="keywords" content="?" />
    <meta name="date" content="2022" />

    {# needs to be relative for pagedjs to work #}
    <link rel="stylesheet" href="{{ '../../css/global.css' | url }}">
    <link rel="stylesheet" href="../../css/print/common.css">
    <link rel="stylesheet" href="../../css/print/articles-{{ locale }}.css">

    {% include "../partials/page-setup.njk" %}
    {%- if preview == true %}
    <!-- paged.js preview in browser -->
    <link rel="stylesheet" href="/pagedjs/interface.css">
    {%- endif %}
    <script src="/pagedjs/paged.polyfill.js"></script>
    {# pagedjs-cli --additional-script <script> #}
    <script src="/js/hooks-to-pagedjs.js"></script>
    <script src="/js/print-preview.js"></script>
</head>
<body>
      {# {%- if preview %} #}
    <div class="front-cover bleed">
        {% image ["front-cover-", locale, "-bleed.jpg"] | join %}
    </div>
    <div class="front-collage bleed">
        {% image "front-photos-bleed.jpg" %}
    </div>
    <div class="parallels">
        {% image "Calligraphy/Parallels VI p1 Ngay Vertical.jpg" %}
        {% image "Calligraphy/Parallels VI p2 Bon Vertical.jpg" %}
    </div>

    {# {%- endif %} #}

    {%- for article in articles -%}
        <article class="article-{{ article.data.title | slugify }}">
            <h1 id="{{ article.data.title | slugify }}" class="chapter">{{ article.data.title }}</h1>
            <div class="author">{{ article.data.author }}</div>
            {{ article.data.content | safe }}
            <div class="article-end"></div>
        </article>
    {%- endfor -%}

    <div class="contents">
        <h1>{{ i18n.toc }}</h1>

        <ul class="toc">
            {%- for article in articles -%}
                <li><a href="#ch{{ loop.index }}">{{ article.data.title }}</a></li>
            {%- endfor -%}
        </ul>
    </div>

    {# {%- if preview %} #}
    <div class="back-collage bleed">
        {% image "back-photos-bleed.jpg" %}
    </div>
    <div class="back-cover bleed">
        {% image ["back-cover-", locale, "-bleed.jpg"] | join %}
    </div>
    {# {%- endif %} #}
</body>

</html>
