<!DOCTYPE html>
<html dir="ltr" lang="{{ locale }}" class="size-{{ size }}">
<head>
    <meta charset="utf-8" />
    {% set i18n = site[locale] %}
    {% set articles = collections["articles_" + locale] %}
    {% set images = collections["images"] %}
    {# <title>{{ i18n.title }}</title> #}
    <title>{{ title }}</title>
    <meta name="author" content="{{ i18n.author }}" />
    <meta name="subject" content="" />
    <meta name="keywords" content="?" />
    <meta name="date" content="2022" />

    {% set pathPrefix = "" %}
    {%- if pagedjsCLI == true %}
        {% set pathPrefix = "../.." %}
    {% elif pagedjsCLI[pagination.pageNumber] == true %}
        {% set pathPrefix = "../../.." %}
    {%- endif %}
    
    {# needs to be relative for pagedjs-cli to work #}
    <link rel="stylesheet" href="{{ pathPrefix }}/css/global.css">
    <link rel="stylesheet" href="{{ pathPrefix }}/css/print/common.css">
    <link rel="stylesheet" href="{{ pathPrefix }}/css/print/{{ size }}.css">
    <link rel="stylesheet" href="{{ pathPrefix }}/css/print/articles-{{ locale }}.css">
    <link rel="stylesheet" href="{{ pathPrefix }}/css/print/images.css">

    {% include "../partials/page-setup.njk" %}
    {%- if pagedjsCLI != true and pagedjsCLI[pagination.pageNumber] != true %}
        <script src="/pagedjs/paged.polyfill.js"></script>
        {# paged.js preview in browser #}
        <link rel="stylesheet" href="/pagedjs/interface.css">
        {# pagedjs-cli --additional-script <script> #}
        <script src="/js/hooks-to-pagedjs.js"></script>
    {%- endif %}
</head>
<body>
    {% block content %}{% endblock %}
</body>

</html>
