{% extends "layouts/web.njk" %}

    {% block content %}
    <header class="index-header">
        <h1><img src="{% imageSrc header_img %}" alt="{{ header_img_alt }}"></h1>
        <h2>{{ i18n.toc }}</h2>
    </header>
    <ul class="toc">
        {%- for article in collections[collection_to_use] -%}
            {%- if article.data.chapter -%}
            <li class="chapterLi" id="li-{{ article.data.id }}">
                <span class="toc-chapter-title">{{ article.data.title }}</span>
            {%- else -%}
            <li id="li-{{ article.data.id }}">
                <a class="toc-links" href="{{ article.url }}">
                <span class="toc-title">{{ article.data.title }}</span>
                {%- if not article.data.author == "" -%}
                <br/><span class="toc-author">{{ article.data.author }}</span></a>
                {%- endif -%}
                <a class="print" href="{{ article.url | replace('articles', 'articles-print-preview') }}"><span class="emoji">🖨️</span></a>
            {%- endif -%}
            </li>
        {%- endfor -%}
    </ul>
    {% endblock %}
