{% set i18n = site[locale] %}
<!DOCTYPE html>
<html dir="ltr" lang="{{ locale }}">
<head>
    <meta charset="utf-8" />
    <title>{{ i18n.title }}</title>
    <meta name="author" content="{{ author }}" />
    <meta name="subject" content="" />
    <meta name="keywords" content="" />
    <meta name="date" content="2022" />
    <link rel="stylesheet" href="{{ '/css/global.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/web/hamburgers.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/web.css' | url }}">
    <script src="/js/html2canvas.min.js"></script>
    <script src="/js/sandbox.js" defer></script>
</head>
<body>
    {% include "partials/menu.njk" %}
    <div class="site">
    {% block content %}{% endblock %}
    </div>
    <canvas id="custom-scrollbar"></canvas>
    <script src="/js/navigation.js"></script>
</body>
</html>
