/* this stylesheet is used when generating a PDF */

:root {
    --bleed: 5mm;
}

@page {
    size: A4;
    margin-top: 32pt;
    margin-bottom: 64pt;
    marks: crop;
    bleed: 5mm;
    /* this breaks pagedjs */
    /* bleed: var(--bleed); */
}

body {
    margin: 0;
    padding: 0;
}

@page:first {
    @bottom-right {
        content: normal;
        margin: 0;
    }
    @bottom-left {
        content: normal;
        margin: 0;
    }
}

.front-cover, .front-collage, .back-collage, .back-cover {
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    /* break-after: page; */
    overflow: visible;
}
.front-cover.bleed, .front-collage.bleed, .back-collage.bleed, .back-cover.bleed {
    width: calc(var(--pagedjs-pagebox-width) + var(--bleed)*2);
    height: calc(var(--pagedjs-pagebox-height) + var(--bleed)*2);
    top: calc((var(--pagedjs-margin-top) + var(--bleed))*-1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
}

.front-cover img, .front-collage img, .back-collage img, .back-cover img {
    width: 100%;
    /* position: relative; */
}

/* styles for the left hand spread
Bottom right book title, bottom left current page */
@page:left {
    margin-left: 33.27pt;
    margin-right: 64pt;
    @bottom-left {
        margin: 10pt 0 30pt 0;
        content: counter(page);
        font-size: 11pt;
        font: "Cormorant Garamond", "Cormorant Infant";
        background: 5% 50%/25% no-repeat url('images/parallel-horizontal-vn1.png');
    }
}

/* styles for the right hand spread
Bottom left we display the title of the book, bottom right the page using a CSS counter, top right the content of the current chapter */
@page:right {
    margin-left: 64pt;
    margin-right: 33.27pt;
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
        font: "Cormorant Garamond", "Cormorant Infant";
        background: 95% 50%/25% no-repeat url('images/parallel-horizontal-vn2.png');
    }
}

/* reset chapter and figure counters on the body */
body {
    counter-reset: chapternum figurenum;
    font-family: "Gentium Book Plus", "Skolar Latin", "Skolar PE", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    line-height: 16pt;
    font-size: 12pt;
}

/* get the title of the current chapter - this will be the content of the h1
reset figure counter as figures start from 1 in each chapter */
h1 {
    string-set: doctitle content();
    counter-reset: figurenum;
    counter-reset: footnote;
    line-height: 1.3;
}

/* increment chapter counter */
h1.chapter::before {
    counter-increment: chapternum;
    /* content: counter(chapternum) ". "; */
}

/* increment and display figure counter */
figcaption::before {
    counter-increment: figurenum;
    content: counter(chapternum) "-" counter(figurenum) ". ";
}

.fn {
    float: footnote;
    counter-increment: footnote;

}

.fn::footnote-call {
    content: counter(footnote);
}

.fn::footnote-marker {
    font-weight: bold;
    border-top: 0.6pt solid black;
}

@page {
    @footnotes {
        /* padding-top: 8pt; */
        float: bottom;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
    page-break-before: avoid;
}

table,
figure {
    page-break-inside: avoid;
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* create page numbers using target-counter in the TOC */
ul.toc a::after {
    content: leader('.') target-counter(attr(href), page);
}

ul.toc li {
    line-height: 2;
}

ul.toc li a {
    text-decoration: none;
}

a {
    color: #000;
}

/* add page number to cross references */
a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
}

/* LTLM design */
article {
    columns: 2;
    break-after: page;
    column-gap: 16pt
}

h1 {
    margin-bottom: 5mm;
}

h1,
h2 {
    color: var(--color-bark-dark);
    column-span: all;
    text-align: center;
}

article h1 {
    font-family: "Cormorant Garamond", "Cormorant Infant";
    /* font-weight: bolder; */
    font-size: 36pt;
    line-height: 48pt;
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}
article .author {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14pt;
    line-height: 16pt;
}

article p {
    text-align: justify;
}
html:lang(en) article p {
    text-align: left;
}

article p + p {
    margin: 8pt 0;
}

.author + p {
    margin-top: 0;
}

img#ThayTalk {
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);

    /* this means anchor image at horizontal centerpoint, rather then left */
    left: 50%; 
    transform: translate(-50%, 0); 

    top: calc((var(--pagedjs-margin-top) + var(--bleed))*-1);
    /* left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1); */
    overflow: visible;
}

/* style='--pagedjs-string-first-doctitle: "Tăng Thân Đích Thực"; --pagedjs-string-last-doctitle: "Tăng Thân Đích Thực"; */
html:lang(vi) #ch1 {
    text-shadow: /* stacking */
        var(--color-sanghati-light) 1px 0 5px,
        white 1px 0 20px;
    margin-top: 70mm;
    /* does not extend beyond article frame: */
    /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%); */
    overflow: visible;
}
