body {
    font-family: "Gentium Book Plus";
    font-size: 1.2em;
}
article {
    max-width: 40em;
    margin: auto;
}
article h1, article h2 {
    font-family: "Cormorant Garamond";
}
article h1 {
    font-size: 3em;
}
article h2 {
    font-size: 1.5em;
}
article p {
    font-size: 1.15em;
    line-height: 130%;
}
