    body {
        margin: 0;
        background-color: var(--color-sky);
        font-family: "Open Sans";
        text-shadow: 1px 1px #000;
        color: #fff;
    }
    
    a {
        color: #fff;
    }
    
    .row {
        min-height: 100vh;
    }
    
    .column {
        padding: 1rem;
        text-align: center;
        min-height: 50vh;
    }
    
    @media (min-width: 640px) {
        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: 100vh;
        }
        .column {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
            flex: 1;
            align-items: center;
            justify-content: center;
        }
    }
    
    .splash-column-vi {
        background: 50% 20%/cover url('/media/front-cover-vi.jpg');
    }
    
    .splash-column-en {
        background: 50% 20%/cover url('/media/front-cover-en.jpg');
    }
    
    .button {
        font-size: 1rem;
        padding: .5rem 1.1rem .4rem;
        margin: 1rem auto;
        border: 1px solid;
        color: inherit;
        font-weight: 700;
        display: block;
        width: 8rem;
        text-align: center;
        text-decoration: none;
        transition: background-color .5s, text-shadow .1s;
    }
    
    .button:hover {
        background-color: rgba(255, 255, 255, .3);
        text-decoration: none;
    }
    
    .button:active {
        text-shadow: none;
        background-color: transparent;
    }