@charset "UTF-8";

/* this stylesheet is used when generating a PDF */
:root {
    --bleed: 5mm;
}

/* reset chapter and figure counters on the body */
body {
    margin: 0;
    padding: 0;
    counter-reset: chapternum figurenum ;
    font-family: "Gentium Book Plus", "Skolar Latin", "Skolar PE", serif;
    line-height: 14pt;
    font-size: 11pt;
    /* https://software.sil.org/gentium/features/ */
    font-feature-settings:
    /* single-story 'a' and 'g' */
    /* "ss01", */
    /* Vietnamese-style diacritics */
    "cv75"
    ;
}

@page {
    /* chrome needs to have --pagedjs-margin-top set manually, otherwise it yields different results */
    margin-top: 32pt;
    --pagedjs-margin-top: 32pt;
    margin-bottom: 40pt;
    /* is this buggy? leaves a huge amount of iterations in the css */
    counter-reset: footnote;

    /* this breaks pagedjs */
    /* bleed: var(--bleed); */
    @footnote {
        padding-top: 8pt;
        float: bottom;
    }
}

@page:left {
    margin-left: 33.27pt;
    margin-right: 64pt;
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}

@page:right {
    margin-left: 64pt;
    margin-right: 33.27pt;
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
    }
}

.lastmod {
    color: gray;
}
.pagedjs_right_page .lastmod {
    text-align: left;
}

.pagedjs_left_page .lastmod {
    text-align: right;
}

.front-cover, .front-collage, .back-collage, .back-cover {
    page: photopage; /* named pages*/
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    break-after: page;
    overflow: visible;
}

.front-cover.bleed, .front-collage.bleed, .back-collage.bleed, .back-cover.bleed {
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed) * 2));
    height: calc(var(--pagedjs-pagebox-height) + (var(--bleed) * 2));
    top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
}

@page photopage {
    /* Important for BUG-HUNTERS: if set to "0" only, it messes up the layout. it needs to be "0mm" */
    margin-top: 0mm;
    margin-right: 0mm;
    margin-bottom: 0mm;
    margin-left: 0mm;
    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
}

.front-cover img, .front-collage img, .back-collage img, .back-cover img {
    width: 100%;
}

.full-page-image {
    width: 100%;
    height: 100%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* size matches the "LTLM front and back cover size.psd" template */
.full-page-image img {
    width: 226mm;
    height: 307mm;
}

.opening-page {
    break-after: page;
}

/*=zencircle  */
.opening-page img {
    max-width: 100%;
    margin-top: 20%;
}


/* get the title of the current chapter - this will be the content of the h1
reset figure counter as figures start from 1 in each chapter */
h1 {
    string-set: doctitle content(text);
    counter-reset: figurenum;
}

/* increment chapter counter */
h1.chapter::before {
    counter-increment: chapternum;
    /* content: counter(chapternum) ". "; */
}

/* increment and display figure counter */
figcaption::before {
    counter-increment: figurenum;
    content: counter(chapternum) "-" counter(figurenum) ". ";
}

h1,
h2,
h3,
h4,
h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
    page-break-before: avoid;
}

table,
figure {
    page-break-inside: avoid;
}

#table-of-contents {
    columns: 2;
    break-after: page;
    column-gap: 32pt;
    font-size: 12pt;
}

/* TODO does not work */
/* https://pagedjs.org/documentation/-cross-references/ */
.toc-links::before {
    content: "p. " target-counter(attr(href url), page);
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    break-after: page;
}

.toc-title {
    font-weight: bold;
    color: var(--color-tower-dark);
}

ul.toc li {
    margin-bottom: 6pt;
}

ul.toc li a {
    text-decoration: none;
}

a {
    color: #000;
}

/* add page number to cross references */
a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
}

article {
    columns: 2;
    break-after: page;
    column-gap: 16pt
}

h1, article .author {
    column-span: all;
    text-align: center;
    color: var(--color-bark-dark);
}

 /* title */
h1 {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 32pt;
    line-height: 110%;
    margin-top: 12pt;
    margin-bottom: 8pt;
    /* font-style: italic; */
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}

article img {
    display: block; /* block eliminates space around image */
    float: right; /* makes paragraph text float/break around it */
    max-width: 100%;
    margin-top: 11pt;
    margin-bottom: 11pt;
}

h1.calligraphyTitle {
    margin-top: 0mm;
    margin-bottom: -5mm;
}

h1.calligraphyTitle img {
    max-height: 30mm;
    margin: 0 auto;
    float: none;
}

h2 { /* section in article */
    font-size: 12pt;
    font-weight: bold;
    color: var(--color-bark-dark);
    margin-top: 14pt;
    margin-bottom: 5pt;
}

article .author {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 6pt;
     /* less bold */
    /* font-family: "Gentium Plus"; */
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 8mm;
}

article .author + h2,
article .author + img,
article .author + p
{
    margin-top: 0;
    text-indent: 0;
}

.editors-preface + p {
    text-indent: 0 !important;
}

/* Vietnamese words are smaller on average, thus more suitable for block text */
html:lang(vi) article p {
    text-align: justify;
}
html:lang(en) article p {
    text-align: left;
    /* text-align: justify; */
}

article p, article blockquote {
    /* DEFAULT. To be refined below ... */
    margin: 0;
    orphans: 2;
    widows: 2;
}

article p + p,
/* since images float around text, paragraphs can be adjacent even when an image intersects them */
article img:not(.articleCalligraphy) + p:not(.image-label) {
    margin-top: 11pt;
    text-indent: 16pt;
}

article blockquote {
    text-indent: 14pt;
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 6pt;
    border-left: 1.5pt;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
    border-style: solid;
    border-image:
    linear-gradient(
      to bottom,
        transparent,
        var(--color-bark-light) 15%,
		var(--color-bark-light) 85%,
        transparent
    ) 1 100%;
}
article blockquote p:first-child::before {
    position: absolute;
    line-height: 20pt;
    text-indent: -14pt;
    content: "“";
    font-size: 200%;
    color: var(--color-bark-light);
}
article blockquote p + p {
    margin-top: 6pt;
}
blockquote cite::before {
    color: var(--color-bark-dark);
    content: "~ "; /* —🙒🙛🙘 */
	font-size: 80%;
}
blockquote cite {
	position: relative;
	display: inline-block;
	left: 3pt;
    font-style: italic;
    color: var(--color-bark-dark);
}

article blockquote:lang(zh) {
    font-size: 140%;
    line-height: 130%;
    text-indent: 0;
    /* margin-top: 9pt; */
    /* margin-bottom: 9pt; */
}

p.verse {
    font-family: "Cormorant Garamond";
    text-indent: 0pt;
    margin-left: 6pt;
    font-weight: 600;
    font-style: italic;
    font-size: 120%;
    line-height: 120%;
    font-feature-settings:
    /* calligraphic forms */
    "ss01",
    /* swash italic Q */
    "ss08",
    /* discretionary ligatures */
    "dlig"
    ;
}
p.verse b {
    font-family: "CormorantSC-SemiBold";
    font-style: normal;
    font-size: 110%;
    line-height: 110%;
    text-transform: lowercase;
    /* font-variant: all-small-caps; */
}

/* 21st century */
/* https://en.wikipedia.org/wiki/Ordinal_indicator */
sup { /* superscript */
    /* otherwise, the line above is pushed up  */
    line-height: 0;
    font-size: 70%;
}

/* https://www.pagedjs.org/documentation/cheatsheet/ */

.note {
    float: footnote;
    font-size: 10pt;
    line-height: 120%;
    /* indent all but first line */
    /* margin-left: 5pt;
    text-indent: -5pt */
}

.note::footnote-call {
    display: inline-block;
    text-indent: 0;
}

.note::footnote-marker {
    font-weight: bold;
    border-top: 0.6pt solid black;
    list-style-position: outside;
}

a.note {
    text-decoration: none;
}

article span.color {
    color: var(--color-tower-dark);
}

article img.has-label {
    margin-bottom: 0;
    padding-bottom: 0;
}
article img.img-small {
    float: right;
    margin-left: 6pt;
    width: 50%;
}
article img + p.image-label {
    display: block; /* block eliminates remaining space between image and label*/
    font-size: 80%;
    line-height: 120%;
    text-indent: 0;
    text-align: right !important;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6pt;
}

p.editors-preface {
    font-style: italic;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 6pt;
}
p.editors-preface i {
    color: hsl(17, 36%, 15%);
    font-style: normal;
}
/* https://unicode-search.net/unicode-namesearch.pl?term=CIRCLE */
/* https://jrgraphix.net/r/Unicode/25A0-25FF */
p.editors-preface::after {
    margin-top: 12pt;
    font-style: normal;
    font-size: 70%;
    content: "✦"; /*✦ ●◆✦◆✧❁🙪🙠🙢⬩ */
    line-height: 0.3mm;
    color: hsl(17, 36%, 15%);
    text-align: center;
    display: block;
    width: 100%;
    height: 0.3mm;
    /* border-bottom: 0.5mm solid hsl(17, 36%, 15%); */
    /* background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%),
    transparent); */
    background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%) 40%,
    transparent 50%,
    hsl(17, 36%, 15%) 60%,
    transparent);
}

/* normally, this css would work, but articles are split between pages, so to select the last element, we need some javascript */
/* article > p:last-child::after */
.last-article-element::after {
    /* https://en.wikipedia.org/wiki/Fleuron_(typography) */
    content: ' 🙢';
    /* font-weight: bold; */
    color: hsl(17, 36%, 15%);
}

.parallels {
    break-after: page;
}
img#calligraphyParallels-VI-p1-Ngay-Vertical {
    width: 50%;
}
img#calligraphyParallels-VI-p2-Bon-Vertical {
    width: 50%;
}

article ul {
    list-style: none;
    padding-left: 6pt;
}
article ul li + li {
    margin-top: 4pt;
}
article ul li::before {
    content: "• ";
    color: var(--color-bark-light);
}



/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* /////////////  CASE-BASED STYLING  /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */


/* reduce space between calligraphy and author */
h1#the-true-sangha,
h1#tang-than-dich-thuc,
h1#dharma-banquet,
h1#chicken-and-egg
{
    margin-bottom: -7mm;
}
/* increase space between calligraphy and author */
h1#peace-and-happiness-walk-hand-in-hand,
h1#strolling-with-joy-on-a-sunny-day
{
    margin-bottom: -3mm;
}

h1#the-true-sangha img {
    max-height: 40mm !important;
}

h1#the-true-sangha img
,h1#tang-than-dich-thuc img
{
    filter: drop-shadow(0 0 3pt white);
}

h1#the-true-sangha {
    margin-bottom: -12mm;
}

/* calligraphy should not intersect with author */
#nep-xua + .author,
#tieng-chuong-chanh-niem + .author
{
    padding-left: 60mm;
}

img#articlebr-troi-thien-chi21767317541562549611291283397034335052574932n {
    float: left;
    margin-right: 6pt;
    width: 60%;
}

img#articlesu-ongTheTrueSangha2 {
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    top: calc((var(--pagedjs-margin-top) + var(--bleed))*-1);
    mask-image: linear-gradient(to top, rgba(0,0,0,0) 0.1%,rgba(0,0,0,1) 35%);
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0.1%,rgba(0,0,0,1) 35%);
    border-bottom: 2px solid white;
}

h1#the-true-sangha {
    margin-top: 75mm;
}

h1#tang-than-dich-thuc {
    margin-top: 80mm;
}

h1#the-true-sangha + .author, h1#tang-than-dich-thuc + .author {
    font-weight: bold !important;
    text-shadow: white 1px 0 5px
}




img#articlebr-troi-dao-quangIMG1129,
img#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited,
img#articlebr-phap-dungthay-bell3-torn-edges {
    column-span: all;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
img#articlebr-phap-dungthay-bell3-torn-edges {
    width: 97%;
}
img#articlebr-troi-dao-quangIMG1129 {
    width: 82%;
    margin-bottom: 0;
}
img#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited {
    width: 64%;
    margin-bottom: 0;
}




img#articlesr-doan-nghiemSr-Doan-N-edited,
img#articlebr-troi-dao-biDSC6747-edited,
img#articlesr-thao-nghiemIMG6614-edited,
img#articlesr-thao-nghiemSc-Thao-N-2-edited,
img#articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015,
img#articlesr-thao-nghiemCCI0224201600039,
img#articlesr-chuan-nghiemSc-Chuan-N-3,img#articledr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182
,img#articlebr-phap-linhIMG0436crop
,img#articlebr-minh-hyDSC3796-edit
,img#articlebr-phap-linhCS21202110152RL0936-crop3
,img#articlebr-phap-dungbai-T-Phap-Dung-4
,img#articlesr-chan-ducSrChanDuc3-edited
,img#articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1
{
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    overflow: visible;
    /* this is removing an artefact in the pdf, which would otherwise display a thin line of the image above the white mask */
    border-top: 2px solid white;
}


img#articlesr-doan-nghiemSr-Doan-N-edited {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 100mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlesr-doan-nghiemSr-Doan-N-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 100mm) !important;
}


img#articlebr-troi-dao-biDSC6747-edited {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 100mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlebr-troi-dao-biDSC6747-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 100mm) !important;
}


img#articlesr-thao-nghiemSc-Thao-N-2-edited {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 100mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%,rgba(0,0,0,1.00) 30%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%,rgba(0,0,0,1.00) 30%);
}
.PAGE-OF-articlesr-thao-nghiemSc-Thao-N-2-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 100mm) !important;
}


img#articlesr-thao-nghiemIMG6614-edited {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 80mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlesr-thao-nghiemIMG6614-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 80mm) !important;
}


img#articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 90mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 90mm) !important;
}


img#articlesr-chan-ducSrChanDuc3-edited {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 90mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlesr-chan-ducSrChanDuc3-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 60mm) !important;
}



img#articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 100mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 35%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,1.00) 35%);
}
.PAGE-OF-articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 90mm) !important;
}


img#articlesr-thao-nghiemCCI0224201600039 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 131mm) * -1);
}
.PAGE-OF-articlesr-thao-nghiemCCI0224201600039 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 120mm) !important;
}


img#articlesr-chuan-nghiemSc-Chuan-N-3 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 60mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,1.0) 45%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,1.0) 45%);
}
.PAGE-OF-articlesr-chuan-nghiemSc-Chuan-N-3 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 60mm) !important;
}


img#articlebr-phap-linhIMG0436crop {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 60mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 6%,rgba(0,0,0,1.0) 26%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 6%,rgba(0,0,0,1.0) 26%);
}
.PAGE-OF-articlebr-phap-linhIMG0436crop .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 50mm) !important;
}


/*  108mm / 80mm is more spacious */
img#articledr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 118mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,1.0) 30%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,1.0) 30%);
}
.PAGE-OF-articledr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 90mm) !important;
}


img#articlebr-phap-linhCS21202110152RL0936-crop3 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 105mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,1.0) 6%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 5%,rgba(0,0,0,1.0) 6%);
}
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 105mm) !important;
}
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_footnote_area {
    text-align: right;
    color: var(--color-tower);
    bottom: -116mm;
}



img#articlebr-phap-dungbai-T-Phap-Dung-4 {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 100mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 12%,rgba(0,0,0,1.00) 35%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 12%,rgba(0,0,0,1.00) 35%);
}
.PAGE-OF-articlebr-phap-dungbai-T-Phap-Dung-4 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 84mm) !important;
}


img#articlebr-minh-hyDSC3796-edit {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + 96mm) * -1);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1.00) 20%);
}
.PAGE-OF-articlebr-minh-hyDSC3796-edit .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 96mm) !important;
}


.PAGE-OF-articlesr-doan-nghiemSr-Doan-N-edited .pagedjs_margin-bottom,
.PAGE-OF-articlebr-troi-dao-biDSC6747-edited .pagedjs_margin-bottom,
.PAGE-OF-articlesr-thao-nghiemIMG6614-edited .pagedjs_margin-bottom,
.PAGE-OF-articlesr-thao-nghiemSc-Thao-N-2-edited .pagedjs_margin-bottom,
.PAGE-OF-articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015 .pagedjs_margin-bottom,
.PAGE-OF-articlesr-thao-nghiemCCI0224201600039 .pagedjs_margin-bottom,
.PAGE-OF-articlesr-chuan-nghiemSc-Chuan-N-3 .pagedjs_margin-bottom, .PAGE-OF-articledr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182 .pagedjs_margin-bottom
,.PAGE-OF-articlebr-minh-hyDSC3796-edit .pagedjs_margin-bottom
,.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_margin-bottom
,.PAGE-OF-articlebr-phap-linhIMG0436crop .pagedjs_margin-bottom
,.PAGE-OF-articlebr-phap-dungbai-T-Phap-Dung-4 .pagedjs_margin-bottom
,.PAGE-OF-articlesr-chan-ducSrChanDuc3-edited .pagedjs_margin-bottom
,.PAGE-OF-articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1 .pagedjs_margin-bottom
{
    width: 0 !important;
    height: 0 !important;
    display: none !important;
}
