@charset "UTF-8";

/* this stylesheet is used when generating a PDF */
:root {
    --bleed: 5mm;
}

/* reset chapter and figure counters on the body */
body {
    margin: 0;
    padding: 0;
    counter-reset: chapternum figurenum ;
    font-family: "Gentium Book Plus", "Skolar Latin", "Skolar PE", serif;
    line-height: 14pt;
    font-size: 11pt;
    /* https://software.sil.org/gentium/features/ */
    font-feature-settings:
    /* single-story 'a' and 'g' */
    /* "ss01", */
    /* Vietnamese-style diacritics */
    "cv75"
    ;
}

@page {
    /* chrome needs to have --pagedjs-margin-top set manually, otherwise it yields different results */
    margin-top: 32pt;
    --pagedjs-margin-top: 32pt;
    margin-bottom: 40pt;

    /* BUG: this breaks the table of contents */
    /* counter-reset: footnote; */

    /* this breaks pagedjs */
    /* bleed: var(--bleed); */

    @footnote {
        padding-top: 8pt;
        color: var(--color-footnote);
        float: bottom;
    }
}

@page:left {
    margin-left: 33.27pt;
    margin-right: 64pt;
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}

@page:right {
    margin-left: 64pt;
    margin-right: 33.27pt;
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
    }
}

.lastmod {
    color: gray;
}
.pagedjs_right_page .lastmod {
    float: left;
}

.pagedjs_left_page .lastmod {
    float: right;
}

.front-cover, .front-collage, .back-collage, .back-cover {
    page: photopage; /* named pages*/
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    break-after: page;
    overflow: visible;
}

.front-cover.bleed, .front-collage.bleed, .back-collage.bleed, .back-cover.bleed {
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed) * 2));
    height: calc(var(--pagedjs-pagebox-height) + (var(--bleed) * 2));
    top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
}

@page photopage {
    /* Important for BUG-HUNTERS: if set to "0" only, it messes up the layout. it needs to be "0mm" */
    margin-top: 0mm;
    margin-right: 0mm;
    margin-left: 0mm;
    /* although this should be 0mm, in chrome, it would otherwise leave a white blank bar above the full-page images with bleed */
    margin-bottom: -5mm;
    
    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}

.front-cover img, .front-collage img, .back-collage img, .back-cover img {
    width: 100%;
}

.full-page-image {
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pagedjs_bleed pagedjs_bleed-bottom */

/* size matches the "LTLM front and back cover size.psd" template */
.full-page-image img {
    width: 226mm;
    height: 307mm;
}

/* size matches A4 + 5 mm bleed around */
.size-A4 .full-page-image img {
    width: 220mm;
    height: 307mm;
}

.opening-page {
    break-after: page;
}

/*=zencircle  */
.opening-page img {
    max-width: 100%;
    margin-top: 20%;
}


/* get the title of the current chapter - this will be the content of the h1
reset figure counter as figures start from 1 in each chapter */
h1 {
    string-set: doctitle content(text);
    counter-reset: figurenum;
}

/* increment chapter counter */
h1.chapter::before {
    counter-increment: chapternum;
    /* content: counter(chapternum) ". "; */
}

/* increment and display figure counter */
figcaption::before {
    counter-increment: figurenum;
    content: counter(chapternum) "-" counter(figurenum) ". ";
}

h1,
h2,
h3,
h4,
h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
    page-break-before: avoid;
}

table,
figure {
    page-break-inside: avoid;
}

#table-of-contents {
    columns: 2;
    break-after: page;
    column-gap: 32pt;
    font-size: 12pt;
}

/* https://pagedjs.org/documentation/-cross-references/ */
.toc-links::before {
    content: target-counter(attr(href url), page);
    position: relative;
    display: inline-block;
    width: 22pt;
    text-align: right;
    right: 8pt;
    font-size: 14pt;
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    break-after: page;
}

.toc-title {
    position: relative;
    display: inline-block;
    text-indent: -6pt;
    padding-left: 6pt;
    width: 68mm;
    font-weight: bold;
    color: var(--color-tower-dark);
}
.toc-author {
    position: relative;
    display: inline-block;
    text-indent: -6pt;
    padding-left: 6pt;
    left: 22pt;
}

ul.toc li {
    margin-left: 15pt;
    margin-bottom: 6pt;
    page-break-inside: avoid;
}

a {
    text-decoration: none;
}
article a, #table-of-contents a {
    color: #000;
}
.pagedjs_footnote_area a {
    color: var(--color-footnote) !important;
}

/* add page number to cross references */
/* a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
} */

article {
    columns: 2;
    break-after: page;
    column-gap: 16pt
}

h1, article .author {
    column-span: all;
    text-align: center;
    color: var(--color-bark-dark);
}

 /* title */
h1 {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 32pt;
    line-height: 110%;
    margin-top: 12pt;
    margin-bottom: 8pt;
    /* font-style: italic; */
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
-> Note that the margins of floating and absolutely positioned elements never collapse. */
article img {
    display: block; /* block eliminates space around image */
    float: right; /* makes paragraph text float/break around it */
    max-width: 100%;
    margin-top: 11pt;
    margin-bottom: 11pt;
}

img.noFloat {
    float: none !important;
}

/* will also fill 5mm bleed */
img.expandToRightBorder,
img.expandToLeftBorder
{
    width: 120%;
    position: relative;
    max-width: none !important;
}
img.expandToRightBorder {
    /* because float is normally: right */
    right: -20%;
}
img.expandToRightBorder.noFloat {
    right: 0 !important;
}
/* expandToLeftBorder is already left-bound */

h1.calligraphyTitle {
    margin-top: 0mm;
    margin-bottom: -5mm;
}

h1.calligraphyTitle img {
    max-height: 30mm;
    margin: 0 auto;
    float: none;
}

h2 { /* section in article */
    font-size: 12pt;
    font-weight: bold;
    color: var(--color-bark-dark);
    margin-top: 14pt;
    margin-bottom: 5pt;
}

article .author {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 6pt;
     /* less bold */
    /* font-family: "Gentium Plus"; */
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 8mm;
}

article .author + h2,
article .author + img,
article .author + p
{
    margin-top: 0;
    text-indent: 0;
}

/* for some reason, appending this above does not work */
article > *:first-child:not(h1) {
    margin-top: 0 !important;
    text-indent: 0;
}

.editors-preface + p {
    text-indent: 0 !important;
}

/* Vietnamese words are smaller on average, thus more suitable for block text */
html:lang(vi) article p {
    text-align: justify;
}
html:lang(en) article p {
    text-align: left;
    /* text-align: justify; */
}

article p, article blockquote {
    /* DEFAULT. To be refined below ... */
    margin: 0;
    orphans: 2;
    widows: 2;
}

article p + p,
/* since images float around text, paragraphs can be adjacent even when an image intersects them */
article img:not(.articleCalligraphy) + p:not(.image-label) {
    text-indent: 16pt;
    margin-top: 11pt;
}

article h2:not(.author) + p {
    text-indent: 16pt;
}

article blockquote {
    text-indent: 14pt;
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 6pt;
    font-style: italic;
    /* font-size: 105%; */
    /* border-left: 1.5pt;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
    border-style: solid;
    border-image:
    linear-gradient(
      to bottom,
        transparent,
        var(--color-bark-light) 15%,
		var(--color-bark-light) 85%,
        transparent
    ) 1 100%; */
}
article blockquote i {
    font-style: normal;
}

article blockquote p:first-child::before {
    position: absolute;
    line-height: 20pt;
    text-indent: -14pt;
    content: "“";
    font-size: 200%;
    color: var(--color-bark-light);
}
/* the end quote ” is inserted with javascript, because it needs to be before the <cite>, if such exists */

article blockquote p + p {
    margin-top: 6pt;
}
/* can be in blockquote and .verse */
article cite::before {
    color: var(--color-bark-dark);
    content: "~ "; /* —🙒🙛🙘 */
	font-size: 80%;
}
article cite {
	position: relative;
	display: inline-block;
	left: 3pt;
    font-style: italic;
    color: var(--color-bark-dark);
}

.verse cite {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-size: 11pt;
}

article blockquote:lang(zh) {
    font-size: 140%;
    font-style: normal;
    line-height: 130%;
    text-indent: 0;
    border-left: 0 !important; /* no border */
    /* margin-top: 9pt; */
    /* margin-bottom: 9pt; */
}

p + .verse,
.verse + p
{
    margin-top: 11pt;
}

.verse {
    page-break-inside: avoid;
    /* font-family: "Cormorant Garamond"; */
    margin-left: 6pt;
    text-align: left !important;
    /* font-weight: 600; */
    font-style: italic;
    /* font-size: 105%; */
    /* line-height: 120%; */
    /* font-feature-settings: */
    /* calligraphic forms */
    /* "ss01", */
    /* swash italic Q */
    /* "ss08", */
    /* discretionary ligatures */
    /* "dlig" */
    /* ; */
}
.special {
    width: 105mm;
    /* column-span: all; */
    /* float: none; */
    /* margin: 0 auto;
    padding-left: 0;
    padding-right: 0; */
}
.special p {
    display: block;
}


html:lang(vi) .verse {
    /* font-size: 130%;
    line-height: 125%; */
}

.verse b, .verseTitle {
    /* position: relative; */
    /* left: -3pt; */
    /* font-family: "CormorantSC-SemiBold"; */
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal;
    /* font-size: 120%; */
    /* line-height: 120%; */
    /* text-transform: lowercase; */
}

.verse p + p {
    margin-top: 11pt;
}

.verse p {
    text-indent: -3pt !important;
}

.verse + p {
    text-indent: 0 !important;
}

/* 21st century */
/* https://en.wikipedia.org/wiki/Ordinal_indicator */
sup { /* superscript */
    /* otherwise, the line above is pushed up  */
    line-height: 0;
    font-size: 70%;
}

/* https://www.pagedjs.org/documentation/cheatsheet/ */

.note {
    float: footnote;
    font-size: 10pt;
    line-height: 120%;
    /* indent all but first line */
    /* margin-left: 5pt;
    text-indent: -5pt */
}

.note::footnote-call {
    display: inline-block;
    text-indent: 0;
}

.note::footnote-marker {
    font-weight: bold;
    list-style-position: outside;
}

article span.color {
    color: var(--color-tower-dark);
}

article img.has-label {
    margin-bottom: 0;
    padding-bottom: 0;
}
article img.img-small {
    float: right;
    margin-left: 6pt;
    width: 50%;
}
article img + p.image-label {
    display: block; /* block eliminates remaining space between image and label*/
    font-size: 80%;
    line-height: 120%;
    text-indent: 0;
    text-align: right !important;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 6pt;
}

p.editors-preface {
    font-style: italic;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 6pt;
}
p.editors-preface i {
    color: hsl(17, 36%, 15%);
    font-style: normal;
}
/* https://unicode-search.net/unicode-namesearch.pl?term=CIRCLE */
/* https://jrgraphix.net/r/Unicode/25A0-25FF */
p.editors-preface::after, .divider::after {
    margin-top: 12pt;
    font-style: normal;
    font-size: 70%;
    content: "✦"; /*✦ ●◆✦◆✧❁🙪🙠🙢⬩ */
    line-height: 0.3mm;
    color: hsl(17, 36%, 15%);
    text-align: center;
    display: block;
    width: 100%;
    height: 0.3mm;
    /* border-bottom: 0.5mm solid hsl(17, 36%, 15%); */
    /* background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%),
    transparent); */
    background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%) 40%,
    transparent 50%,
    hsl(17, 36%, 15%) 60%,
    transparent);
}

.divider {
    margin-bottom: 12pt;
}

/* normally, this css would work, but articles are split between pages, so to select the last element, we need some javascript */
/* article > p:last-child::after */
.last-article-element::after {
    /* https://en.wikipedia.org/wiki/Fleuron_(typography) */
    /* https://www.htmlsymbols.xyz/unicode/U+1F662 */
    content: " \1F662";
    /* content: ' 🙢'; 	 */
    font-weight: normal !important;
    font-style: normal !important;
    color: hsl(17, 36%, 15%);
}

.parallels {
    break-after: page;
}
img#calligraphyParallels-VI-p1-Ngay-Vertical {
    width: 50%;
}
img#calligraphyParallels-VI-p2-Bon-Vertical {
    width: 50%;
}

article ul {
    list-style: none;
    padding-left: 6pt;
}
article ul li + li {
    margin-top: 4pt;
}
article ul li::before {
    content: "• ";
    color: var(--color-bark-light);
}
.divider.page {
    display: block;
    column-span: all;
    width: 40%;
    margin-top: 17pt;
    margin-bottom: 25pt;
    margin-left: auto;
    margin-right: auto;
}



/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* /////////////  CASE-BASED STYLING  /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */


/* reduce space between calligraphy and author */
h1#the-true-sangha,
h1#tang-than-dich-thuc,
h1#dharma-banquet,
h1#chicken-and-egg
{
    margin-bottom: -7mm;
}
/* increase space between calligraphy and author */
h1#peace-and-happiness-walk-hand-in-hand,
h1#strolling-with-joy-on-a-sunny-day
{
    margin-bottom: -3mm;
}

h1#the-true-sangha img {
    max-height: 40mm !important;
}

h1#the-true-sangha img
,h1#tang-than-dich-thuc img
{
    filter: drop-shadow(0 0 3pt white);
}

h1#the-true-sangha {
    margin-bottom: -12mm;
}

/* calligraphy should not intersect with author */
#nep-xua + .author,
#tieng-chuong-chanh-niem + .author
{
    padding-left: 60mm;
}

h1#the-true-sangha {
    margin-top: 75mm;
}

h1#tang-than-dich-thuc {
    margin-top: 80mm;
}

h1#the-true-sangha + .author, h1#tang-than-dich-thuc + .author {
    font-weight: bold !important;
    text-shadow: white 1px 0 5px
}

html:lang(vi) img#articlebr-troi-thien-chi5brot {
    width: 83%;
    left: 9%;
    position: relative;
    float: none;
}

img#articlebr-troi-thien-chi21767317541562549611291283397034335052574932n{
    float: left;
    margin-right: 6pt;
    width: 60%;
}

img#articlebr-troi-bao-tangScreenshot-edit,
img#articlebr-troi-dao-quangIMG1129,
img#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited,
img#articlebr-phap-dungthay-bell3-torn-edges {
    column-span: all;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}
img#articlebr-phap-dungthay-bell3-torn-edges {
    width: 97%;
}
img#articlebr-troi-dao-quangIMG1129 {
    width: 82%;
    margin-bottom: 0;
}
img#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited {
    width: 60%;
    margin-bottom: 0;
}
img#articlebr-troi-bao-tangScreenshot-edit {
    width: 87%;
    margin-bottom: 0;
}

img#articlefor-poemsseparator1 {
    display: block;
    column-span: all;
    float: none;
    width: 10%;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: auto;
    margin-right: auto;
}
img#articlefor-poemsorchid-light2 {
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    right: calc((var(--pagedjs-margin-left) + var(--bleed))*-2);
    width: 148mm;
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed)) * -1);
}

img#articlebr-nguyen-tinhBrNguyenTinh1-edit {
    display: block;
    float: none;
    width: 70%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}

img#articlesr-chan-khong-letter-to-ThaySCCK-with-MLK-and-TNH-statue-high-quality-e-crop {
    display: block;
    float: none;
    width: 60%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
img#articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1 {
    display: block;
    float: none;
    width: 90%;
    margin-top: 10%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

/* 
on other occasions, I would adjust the margin-top and height of .pagedjs_page_content (not its div). However, this does not work in the generated PDF (the margin-top does not apply).
*/
.PAGE-OF-articlesr-hoa-nghiemsummer-retreat .pagedjs_page_content div {
    margin-top: 60mm !important;
}

#horizontal-img-column {
    width: 100%;
    height: 80mm;
    position: absolute;
    top: -60mm;
    left: 0;
}
#horizontal-img-column img {
    display: inline-block;
    float: none;
    width: 48%;
    margin: 0;
    padding: 0;
}
#horizontal-img-column img + img {
    margin-left: 4% !important;
}

/* img#articlesr-hoa-nghiemsummer-retreat {
img#articlesr-hoa-nghiem20211212029-edited { */




.article-ngay-tuyet-nho-thay {
    columns: 1 !important;
    width: 134mm;
    margin: 0 auto;
}
.article-ngay-tuyet-nho-thay p {
    text-indent: 0;
}

.PAGE-OF-article-ngay-tuyet-nho-thay .pagedjs_footnote_area {
    /* border-top: 2px solid grey; */
    margin-left: 23mm;
}

.article-snow-falling-autumn {
    columns: 1 !important;
}

img#articlebr-phap-an60e {
    float: none !important;
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
}
img#articlebr-phap-ung8826595315246533743600235026231803661254656ne {
    float: none !important;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
}

img#articlebr-phap-huuIMG2211e {
    display: block;
    float: none;
    width: 90%;
    margin-top: 45pt;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}



img#articlerichard-brady53beedc0-edited-crop {
    display: block;
    float: none;
    width: 97%;
    /* margin-top: 45pt; */
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}
img#articlerichard-brady53beedc0-edited-crop + .image-label {
    display: block;
    float: none;
    column-span: all;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}


.PAGE-OF-articlebr-phap-kham1998-TangThanXomThuong-MuaHe-cut .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 95mm) !important;
}

img#articlebr-phap-kham1998-TangThanXomThuong-MuaHe-cut {
    position: absolute;
    bottom: -89mm;
    display: block;
    float: none;
    width: 70%;
    left: 15%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
img#articlebr-phap-kham1998-TangThanXomThuong-MuaHe-cut + .image-label {
    position: absolute;
    bottom: -95mm;
    display: block;
    float: none;
    width: 70%;
    left: 15%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

img#articlesr-doan-nghiemSr-doan-nghiem-edited {
    display: block;
    float: none;
    width: 70%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}


.PAGE-OF-articlesr-doan-nghiemSr-Doan-N-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 95mm) !important;
}

img#articlesr-doan-nghiemSr-Doan-N-edited {
    position: absolute;
    bottom: -89mm;
    display: block;
    float: none;
    width: 70%;
    left: 15%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.PAGE-OF-articlesr-doan-nghiemsu-me-DJoan-N-3-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 80mm) !important;
}

img#articlesr-doan-nghiemsu-me-DJoan-N-3-edited {
    position: absolute;
    bottom: -80mm;
    display: block;
    float: none;
    width: 60%;
    left: 20%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}



#poem-orchid {
    width: 50%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}
#poem-orchid cite {
    display: block;
    padding-top: 4pt;
    padding-left: 3pt;
}
#poem-orchid:after {
    display: none !important;
}

#poem-true-source {
    width: 90mm;
}

.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_footnote_area
,.PAGE-OF-articlebr-phap-huuIMG2227e .pagedjs_footnote_area
,.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area
{
    position: absolute !important;
    bottom: 4.5mm !important;
    /* bottom: calc(var(--pagedjs-margin-bottom) - var(--pagedjs-footnotes-height)) !important; */
    right: var(--pagedjs-margin-right);
    text-align: right;
}

.PAGE-OF-articlebr-phap-huuIMG2227e .pagedjs_footnote_area {
    text-shadow:
        0px 0 3px white
    ;
}
.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area {
    /* color: red !important; */
    text-shadow:
        1px 0 2px black,
        0px 0 3px black
    ;
}
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_footnote_area span,
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop3 .pagedjs_footnote_area span a {
    color: rgb(168, 168, 168) !important;
}
.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area span {
    color: rgb(201, 201, 201) !important;
}

.article-quan-tam {
    text-shadow:
        /* 1px 0 1px white, */
        /* 0px 0 3px white, */
        0px 0 10px white,
        0px 0 10px white,
        0px 0 20px white,
        0px 0 20px white,
        0px 0 30px white,
        0px 0 30px white
    ;
}
.article-quan-tam .verse {
    display: block;
    column-span: all !important;
    width: 50%;
    padding-left: 7%;
    font-size: 115%;
    line-height: 115%;
    margin-left: auto;
    margin-right: auto;
}
.article-quan-tam .verse:after {
    display: none;
}
