@charset "UTF-8";

/* this stylesheet is used when generating a PDF */
:root {
    --bleed: 5mm;
}

/* reset chapter and figure counters on the body */
body {
    margin: 0;
    padding: 0;
    counter-reset: chapternum figurenum ;
    font-family: "Gentium Book Plus", "Skolar Latin", "Skolar PE", serif;
    line-height: 14pt;
    font-size: 11pt;
    /* https://software.sil.org/gentium/features/ */
    font-feature-settings:
    /* single-story 'a' and 'g' */
    /* "ss01", */
    /* Vietnamese-style diacritics */
    "cv75"
    ;
}

/* default */
figure {
    margin: 0;
}

@page {
    /* chrome needs to have --pagedjs-margin-top set manually, otherwise it yields different results */
    margin-top: 32pt;
    --pagedjs-margin-top: 32pt;
    margin-bottom: 40pt;

    /* BUG: this breaks the table of contents */
    /* counter-reset: footnote; */

    /* this breaks pagedjs */
    /* bleed: var(--bleed); */

    @footnote {
        padding-top: 8pt;
        color: var(--color-footnote);
        float: bottom;
    }
}

@page:left {
    margin-left: 33.27pt;
    margin-right: 64pt;
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}

@page:right {
    margin-left: 64pt;
    margin-right: 33.27pt;
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
    }
}

.lastmod {
    color: gray;
}
.pagedjs_right_page .lastmod {
    float: left;
}

.pagedjs_left_page .lastmod {
    float: right;
}

.front-cover, .front-collage, .back-collage, .back-cover {
    page: photopage; /* named pages*/
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    break-after: page;
    overflow: visible;
}

.front-cover.bleed, .front-collage.bleed, .back-collage.bleed, .back-cover.bleed {
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed) * 2));
    height: calc(var(--pagedjs-pagebox-height) + (var(--bleed) * 2));
    top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
}

@page photopage {
    /* Important for BUG-HUNTERS: if set to "0" only, it messes up the layout. it needs to be "0mm" */
    margin-top: 0mm;
    margin-right: 0mm;
    margin-left: 0mm;
    /* although this should be 0mm, in chrome, it would otherwise leave a white blank bar above the full-page images with bleed */
    margin-bottom: -5mm;

    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}

.front-cover figure, .front-collage figure, .back-collage figure, .back-cover figure {
    width: 100%;
}

.full-page-image {
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pagedjs_bleed pagedjs_bleed-bottom */

/* size matches the "LTLM front and back cover size.psd" template */
.full-page-image figure {
    width: 226mm;
    height: 307mm;
}

/* size matches A4 + 5 mm bleed around */
.size-A4 .full-page-image figure {
    width: 220mm;
    height: 307mm;
}

#title-page, .pageBreak {
    break-after: page;
}

#title-page, #zen-circle-page, #thays-full-title-page, #thays-portrait-page, .chapter {
    page: noFooter;
}

#zen-circle-page, #thays-full-title-page, #thays-portrait-page {
    /* break-after: page; */
    break-before: page;
    position: absolute;
    width: 100%;
    /* background-color: rgb(223, 255, 223); */
}

@page noFooter {
    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}


#title-page h1 {
    /* margin-top here needs to be replaced by padding-top, otherwise it does not work in the pdf in chrome */
    padding-top: 20%;
    margin-top: 0;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0 auto; */
}
#title-page figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title-page h1 figure {
    width: 88%;
    /* margin-top: 20%;
    margin-bottom: 10%; */
}
#calligraphyarticle-titles-2-and-dividers5-maskedDividers2-2-straight {
    width: 25%;
    margin-bottom: 14%;
}
#title-page h2 {
    font-family: "Cormorant Garamond";
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 210%;
    line-height: 130%;
}
#title-page h2 .num40 {
    display: inline-block;
    /* padding-left: 5pt; */
    /* padding-right: 3pt; */
    font-size: 160%;
    font-weight: 500;
}
#title-page h2 #ambrsd {
    display: block;
    font-style: italic;
    line-height: 110%;
}
#title-page h2 #tnh {
    display: block;
    font-size: 153%;
    margin-top: 20%;
    color: black;
    font-family: "CormorantSC-Medium";
    /* for Medium, if this is not set, chrome will look ugly */
    font-weight: normal;
}


.chapter {
    break-before: page;
    break-after: page;
}
.chapter h1 {
    padding-top: 33%;
    font-family: "CormorantSC-SemiBold";
    font-style: normal;
    font-weight: normal;
}



figure#calligraphyzen-circlezen-circle {
    width: 100%;
    padding-top: 30%;
}

figure#ThayLamp-e2 {
    float: none;
    width: 60%;
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#thays-portrait-page div {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 180%;
    color: var(--color-bark-dark);
}

#thays-full-title-page p {
    display: block;
    margin-top: 60%;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    text-align: justify;
}



article h1 {
    string-set: doctitle content(text);
}

h1,
h2,
h3,
h4,
h5 {
    page-break-after: avoid;
    page-break-inside: avoid;
}

h1+p,
h2+p,
h3+p {
    page-break-before: avoid;
}

table,
figure {
    page-break-inside: avoid;
}

#table-of-contents {
    columns: 2;
    break-after: page;
    column-gap: 32pt;
    font-size: 12pt;
}

#table-of-contents h1 {
    margin-bottom: 24pt;
}

.chapterLi {
    padding-top: 12pt;
    padding-bottom: 4pt;
}

.toc-chapter {
    padding-left: 6pt;
}

.toc-chapter-title {
    font-family: "CormorantSC-Bold";
    font-size: 140%;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1pt solid var(--color-bark-light);
}

/* https://pagedjs.org/documentation/-cross-references/ */
.toc-links::before {
    content: target-counter(attr(href url), page);
    position: relative;
    display: inline-block;
    width: 22pt;
    text-align: right;
    right: 8pt;
    font-size: 14pt;
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    break-after: page;
}

.toc-title {
    position: relative;
    display: inline-block;
    /* text-indent: -6pt;
    padding-left: 6pt; */
    width: 68mm;
    font-weight: bold;
    /* color: var(--color-tower-dark); */
    color: var(--color-bark-dark);
}
.toc-author {
    position: relative;
    display: inline-block;
    text-indent: -6pt;
    padding-left: 6pt;
    left: 22pt;
}

ul.toc li {
    margin-left: 10pt;
    margin-bottom: 10pt;
    page-break-inside: avoid;
}

a {
    text-decoration: none;
}
article a, #table-of-contents a {
    color: #000;
}
.pagedjs_footnote_area a {
    color: var(--color-footnote) !important;
}

/* add page number to cross references */
/* a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
} */

article {
    columns: 2;
    break-after: page;
    column-gap: 16pt
}

h1, article .author {
    column-span: all;
    text-align: center;
    color: var(--color-bark-dark);
}

 /* title */
h1 {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 32pt;
    line-height: 110%;
    margin-top: 12pt;
    margin-bottom: 8pt;
    /* font-style: italic; */
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
-> Note that the margins of floating and absolutely positioned elements never collapse. */
article figure {
    display: block; /* block eliminates space around image */
    float: right; /* makes paragraph text float/break around it */
    max-width: 100%;
    margin-top: 11pt;
    margin-bottom: 11pt;
}

figure.noFloat {
    float: none !important;
}

/* will also fill 5mm bleed */
figure.expandToRightBorder,
figure.expandToLeftBorder
{
    width: 120%;
    position: relative;
    max-width: none !important;
}
figure.expandToLeftBorder figcaption
{
    margin-left: 10% !important;
}
figure.expandToRightBorder figcaption
{
    margin-right: 10% !important;
}
figure.expandToRightBorder {
    /* because float is normally: right */
    right: -20%;
}
figure.expandToRightBorder.noFloat {
    right: 0 !important;
}
/* expandToLeftBorder is already left-bound */

h1.calligraphyTitle {
    margin-top: 0mm;
    margin-bottom: -5mm;
}

h1.calligraphyTitle figure {
    max-height: 30mm;
    margin: 0 auto;
    float: none;
}
h1.calligraphyTitle figure img {
    max-height: 30mm;
}

h2 { /* section in article */
    font-size: 12pt;
    font-weight: bold;
    color: var(--color-bark-dark);
    margin-top: 14pt;
    margin-bottom: 5pt;
}

article .author {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 6pt;
     /* less bold */
    /* font-family: "Gentium Plus"; */
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 8mm;
}

article .editors-preface,
article .author + h2,
article .author + figure,
article .author + p
{
    margin-top: 0 !important;
    text-indent: 0 !important;
}

/* for some reason, appending this above does not work */
article > *:first-child:not(h1) {
    margin-top: 0 !important;
    text-indent: 0 !important;
}

.editors-preface + p {
    text-indent: 0 !important;
}

/* Vietnamese words are smaller on average, thus more suitable for block text */
html:lang(vi) article p {
    text-align: justify;
}
html:lang(en) article p {
    text-align: left;
    /* text-align: justify; */
}

article p, article blockquote {
    /* DEFAULT. To be refined below ... */
    margin: 0;
    orphans: 2;
    widows: 2;
}

article p + p,
article figure + p
{
    text-indent: 16pt;
    margin-top: 11pt;
}

article h2:not(.author) + p {
    text-indent: 16pt;
}

article blockquote {
    text-indent: 14pt;
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 6pt;
    font-style: italic;
}
article blockquote i {
    font-style: normal;
}
article blockquote p + p {
    margin-top: 6pt;
}
/* can be in blockquote and .verse */
article cite::before {
    color: var(--color-bark-dark);
    content: "~ "; /* —🙒🙛🙘 */
	font-size: 80%;
}
article cite {
	position: relative;
	display: inline-block;
	left: 3pt;
    font-style: italic;
    color: var(--color-bark-dark);
}

.verse cite {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-size: 11pt;
}

article blockquote:lang(zh) {
    font-size: 120%;
    font-style: normal;
    line-height: 110%;
    text-indent: 0;
    border-left: 0 !important; /* no border */
    /* margin-top: 9pt; */
    /* margin-bottom: 9pt; */
}

p + .verse,
.verse + p
{
    margin-top: 11pt;
}

.verse {
    page-break-inside: avoid;
    /* font-family: "Cormorant Garamond"; */
    margin-left: 6pt;
    text-align: left !important;
    /* font-weight: 600; */
    font-style: italic;
    /* font-size: 105%; */
    /* line-height: 120%; */
    /* font-feature-settings: */
    /* calligraphic forms */
    /* "ss01", */
    /* swash italic Q */
    /* "ss08", */
    /* discretionary ligatures */
    /* "dlig" */
    /* ; */
}
.special {
    width: 105mm;
    /* column-span: all; */
    /* float: none; */
    /* margin: 0 auto;
    padding-left: 0;
    padding-right: 0; */
}
.special p {
    display: block;
}


html:lang(vi) .verse {
    /* font-size: 130%;
    line-height: 125%; */
}

.verse b, .verseTitle {
    /* position: relative; */
    /* left: -3pt; */
    /* font-family: "CormorantSC-SemiBold"; */
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal;
    /* font-size: 120%; */
    /* line-height: 120%; */
    /* text-transform: lowercase; */
}

.verse p + p {
    margin-top: 11pt;
}

.verse p {
    text-indent: -3pt !important;
}

.verse + p, .noIndent {
    text-indent: 0 !important;
}

/* 21st century */
/* https://en.wikipedia.org/wiki/Ordinal_indicator */
sup { /* superscript */
    /* otherwise, the line above is pushed up  */
    line-height: 0;
    font-size: 70%;
}

/* https://www.pagedjs.org/documentation/cheatsheet/ */

.note {
    float: footnote;
    font-size: 10pt;
    line-height: 120%;
    /* indent all but first line */
    /* margin-left: 5pt;
    text-indent: -5pt */
}

.note::footnote-call {
    display: inline-block;
    text-indent: 0;
}

.note::footnote-marker {
    font-weight: bold;
    list-style-position: outside;
}

article span.color {
    color: var(--color-tower-dark);
}

figure img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

article figure.img-small {
    float: right;
    margin-left: 10pt;
    width: 50%;
}
article figure figcaption {
    display: block; /* block eliminates remaining space between image and label*/
    font-size: 80%;
    line-height: 120%;
    text-indent: 0;
    text-align: right !important;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-top: 1pt;
}

p.editors-preface {
    font-style: italic;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 6pt;
}
p.editors-preface i {
    color: hsl(17, 36%, 15%);
    font-style: normal;
}
/* https://unicode-search.net/unicode-namesearch.pl?term=CIRCLE */
/* https://jrgraphix.net/r/Unicode/25A0-25FF */
p.editors-preface::after, .divider::after {
    margin-top: 12pt;
    font-style: normal;
    font-size: 70%;
    content: "✦"; /*✦ ●◆✦◆✧❁🙪🙠🙢⬩ */
    line-height: 0.3mm;
    color: hsl(17, 36%, 15%);
    text-align: center;
    display: block;
    width: 100%;
    height: 0.3mm;
    /* border-bottom: 0.5mm solid hsl(17, 36%, 15%); */
    /* background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%),
    transparent); */
    background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%) 40%,
    transparent 50%,
    hsl(17, 36%, 15%) 60%,
    transparent);
}

.divider {
    margin-bottom: 12pt;
}

/* normally, this css would work, but articles are split between pages, so to select the last element, we need some javascript */
/* article > p:last-child::after */
.last-article-element::after {
    /* https://en.wikipedia.org/wiki/Fleuron_(typography) */
    /* https://www.htmlsymbols.xyz/unicode/U+1F662 */
    content: " \1F662";
    /* content: ' 🙢'; 	 */
    font-weight: normal !important;
    font-style: normal !important;
    color: hsl(17, 36%, 15%);
}

figure#calligraphyParallels-VI-p1-Ngay-Vertical {
    width: 50%;
}
figure#calligraphyParallels-VI-p2-Bon-Vertical {
    width: 50%;
}

article ul {
    list-style: none;
    padding-left: 6pt;
}
article ul li + li {
    margin-top: 4pt;
}
article ul li::before {
    content: "• ";
    color: var(--color-bark-light);
}
.divider.page {
    display: block;
    column-span: all;
    width: 40%;
    margin-top: 17pt;
    margin-bottom: 25pt;
    margin-left: auto;
    margin-right: auto;
}





/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* /////////////  CASE-BASED STYLING  /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */


/* reduce space between calligraphy and author */
h1#the-true-sangha,
h1#tang-than-dich-thuc,
h1#dharma-banquet,
h1#chicken-and-egg
{
    margin-bottom: -7mm;
}
/* increase space between calligraphy and author */
h1#peace-and-happiness-walk-hand-in-hand,
h1#strolling-with-joy-on-a-sunny-day
{
    margin-bottom: -3mm;
}

h1#the-true-sangha figure,
h1#the-true-sangha figure img
{
    max-height: 40mm !important;
}

h1#the-true-sangha figure img
,h1#tang-than-dich-thuc figure img
{
    filter: drop-shadow(0 0 3pt white);
}

h1#the-true-sangha {
    margin-bottom: -12mm;
}

#nep-xua + .author,
#tieng-chuong-chanh-niem + .author
{
    /* this is in addition */
    margin-top: 5mm !important;
}

h1#the-true-sangha {
    margin-top: 75mm;
}

h1#tang-than-dich-thuc {
    margin-top: 80mm;
}

h1#the-true-sangha + .author, h1#tang-than-dich-thuc + .author {
    font-weight: bold !important;
    text-shadow: white 1px 0 5px
}




/* //////////////////////////////////////////////// */
/* /////////////  FULL-PAGE IMAGES  /////////////// */
figure#calligraphyzen-circlezen-circle,
figure#articlesr-doan-nghiemSr-doan-nghiem-edited,
figure#articlerichard-brady53beedc0-edited-crop,
figure#articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1,
figure#articlesr-chan-khong-letter-to-ThaySCCK-with-MLK-and-TNH-statue-high-quality-e-crop,
figure#articlebr-nguyen-tinhBrNguyenTinh1-edit,
figure#articlebr-phap-huuIMG2211e,
figure#articlebr-troi-bao-tang266137775101594156527050427864726797241279645n,
figure#articlebr-troi-bao-tangScreenshot-edit,
figure#articlebr-troi-dao-quangIMG1129,
figure#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited,
figure#articlebr-phap-dungthay-bell3-torn-edges {
    column-span: all;
    float: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

figure#articlesr-doan-nghiemSr-doan-nghiem-edited {
    width: 70%;
}
html:lang(en) figure#articlerichard-brady53beedc0-edited-crop {
    width: 97%;
    margin-bottom: 0;
}
html:lang(vi) figure#articlerichard-brady53beedc0-edited-crop {
    width: 85%;
    margin-bottom: 0;
}

figure#articlesr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1 {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 0;
}
figure#articlebr-nguyen-tinhBrNguyenTinh1-edit {
    width: 70%;
}

html:lang(en) figure#articlesr-chan-khong-letter-to-ThaySCCK-with-MLK-and-TNH-statue-high-quality-e-crop {
    width: 50%;
    margin-bottom: 0;
}
html:lang(vi) figure#articlesr-chan-khong-letter-to-ThaySCCK-with-MLK-and-TNH-statue-high-quality-e-crop {
    width: 75%;
    margin-bottom: 0;
}
html:lang(en) figure#articlebr-phap-huuIMG2211e {
    width: 90%;
}
html:lang(vi) figure#articlebr-phap-huuIMG2211e {
    width: 65%;
}
figure#articlebr-troi-bao-tang266137775101594156527050427864726797241279645n {
    width: 67%;
}
figure#articlebr-phap-dungthay-bell3-torn-edges {
    width: 97%;
}
figure#articlebr-troi-dao-quangIMG1129 {
    width: 78%;
    margin-bottom: 0;
}
figure#articlesr-giac-nghiemSu-me-Giac-Nghiem-2-edited {
    width: 60%;
    margin-bottom: 0;
}
figure#articlebr-troi-bao-tangScreenshot-edit {
    width: 97%;
    margin-bottom: 0;
}


/* //////////////////////////////////////////////// */
/* /////////////  INLINE RESIZED IMAGES  ////////// */
figure#articlebr-phap-an60e,
figure#articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015crop,
figure#articlebr-phap-ung8826595315246533743600235026231803661254656ne,
figure#articlebr-phap-haiThay-with-Br-Phap-Hai-e,
figure#articlebr-phap-linhFDTfJpjWUAUYC5crop,
figure#articlebr-troi-thien-chi5brot,
figure#articlepv-in-2021Monastic-retreatMonastic-retreat20211,
figure#articlepv-in-2021Monastic-retreatMonastic-retreat202110,
figure#articlepv-in-2021Monastic-retreatDSC8304
{
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}
figure#articlebr-phap-an60e {
    width: 60% !important;
}
figure#articlebr-phap-ung8826595315246533743600235026231803661254656ne {
    width: 75% !important;
}
figure#articlebr-phap-haiThay-with-Br-Phap-Hai-e {
    width: 88% !important;
}
figure#articlebr-phap-linhFDTfJpjWUAUYC5crop {
    width: 88% !important;
}
figure#articlerichard-bradyR-and-KJ-at-Centro-Avalokita-2015crop {
    width: 80% !important;
}
html:lang(en) figure#articlebr-troi-thien-chi5brot {
    width: 70%;
}
html:lang(vi) figure#articlebr-troi-thien-chi5brot {
    width: 50%;
}
figure#articlepv-in-2021Monastic-retreatMonastic-retreat20211,
figure#articlepv-in-2021Monastic-retreatMonastic-retreat202110,
figure#articlepv-in-2021Monastic-retreatDSC8304 {
    width: 84%;
}


figure#articlebr-phap-ung61-edited {
    float: right;
    margin-left: 13pt;
    margin-top: 0;
    margin-bottom: 6pt;
    width: 50%;
}

span.lmnq {
    font-style: italic;
    font-weight: 400;
}

html:lang(vi) figure#articlebr-troi-thien-chi21767317541562549611291283397034335052574932n{
    float: left;
    margin-right: 8pt;
    margin-bottom: 3pt;
    width: 100%;
}




figure#articlefor-poemsseparator1 {
    display: block;
    column-span: all;
    float: none;
    width: 10%;
    margin-top: 20pt;
    margin-bottom: 20pt;
    margin-left: auto;
    margin-right: auto;
}
figure#articlefor-poemsorchid-light2 {
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    /* yields different results in full-page view & single ... */
    /* works for single: */
    right: calc((var(--pagedjs-margin-left) + var(--bleed) * 2)*-1);
    /* works for full: .... ????? does it? does it depend on right/left page? */
    /* right: calc((var(--pagedjs-margin-left))*-1); */
    width: 148mm;
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed)) * -1);
}




/* 
on other occasions, I would adjust the margin-top and height of .pagedjs_page_content (not its div). However, this does not work in the generated PDF (the margin-top does not apply).
*/
.PAGE-OF-articlesr-hoa-nghiemsummer-retreat .pagedjs_page_content > div {
    margin-top: 65mm !important;
}

.horizontal-img-column {
    width: 100%;
    height: 80mm;
    position: absolute;
    top: 0mm;
    left: 0;
}
.horizontal-img-column figure {
    display: inline-block;
    vertical-align: top;
    float: none;
    width: 48%;
    margin: 0;
    padding: 0;
}
.horizontal-img-column figure + figure {
    margin-left: 4% !important;
}


.PAGE-OF-articlesr-chan-khong-hieu-va-thuongcau-Hieuva-Thuong-1-e .pagedjs_page_content > div {
    margin-top: 60mm !important;
}






.article-ngay-tuyet-nho-thay {
    columns: 1 !important;
    width: 134mm;
    margin: 0 auto;
}
.article-ngay-tuyet-nho-thay p {
    text-indent: 0;
}

.PAGE-OF-article-ngay-tuyet-nho-thay .pagedjs_footnote_area {
    /* border-top: 2px solid grey; */
    margin-left: 23mm;
}

.article-snow-falling-autumn {
    columns: 1 !important;
}









.PAGE-OF-articlebr-phap-kham1998-TangThanXomThuong-MuaHe-cut .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 95mm) !important;
}
figure#articlebr-phap-kham1998-TangThanXomThuong-MuaHe-cut {
    position: absolute;
    bottom: -89mm;
    display: block;
    float: none;
    width: 70%;
    left: 15%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}


.PAGE-OF-articlesr-doan-nghiemsu-me-DJoan-N-3-edited .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 80mm) !important;
}
figure#articlesr-doan-nghiemsu-me-DJoan-N-3-edited {
    position: absolute;
    bottom: -80mm;
    display: block;
    float: none;
    width: 60%;
    left: 20%;
    column-span: all;
    /* margin-left: auto; */
    /* margin-right: auto; */
}


.PAGE-OF-articlesr-tang-nghiemNon-xua-may-trang-phu-day-thay-ngoi-thien-dinh-dem-ngay-vung-anx5000q90 .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - 100mm) !important;
}
figure#articlesr-tang-nghiemNon-xua-may-trang-phu-day-thay-ngoi-thien-dinh-dem-ngay-vung-anx5000q90 {
    position: absolute;
    bottom: -100mm;
    display: block;
    float: none;
    width: 90%;
    left: 5%;
    column-span: all;
}

/* those values are NOT relative to the page */
figure#articlefor-chaptersPlanting-trees-edit2 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 90%;
    bottom: -20mm;
    left: 6%;
}
figure#articlefor-chaptersSunflowerChapter {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: -40mm;
    left: 10%;
}
figure#articlefor-chaptersHandsReadingOut2 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 90%;
    bottom: -25mm;
    left: 10%;
}




figure#articleeulogy-in-vietnamL1004781,
figure#articlebr-troi-duc-hienIMG5858-edited {
    width: 86%;
    margin-right: 7%;
}

figure#articlesr-trang-bo-deSc-Bo-DJe-4-edit {
    width: 86%;
    margin-right: 7%;
}

.PAGE-OF-articlesr-trang-mai-thonSrMaiThon2-edited p,
.PAGE-OF-articleeulogy-in-vietnamL1004616-e p,
.PAGE-OF-articlesr-trang-bo-deIMG0331 p {
    text-shadow:
        0px 0 3px white,
        0px 0 5px white,
        0px 0 9px white
    ;
}


#poem-orchid {
    width: 50%;
    column-span: all;
    margin-left: auto;
    margin-right: auto;
}
#poem-orchid cite {
    display: block;
    padding-top: 4pt;
    padding-left: 3pt;
}
#poem-orchid:after {
    display: none !important;
}

#poem-true-source {
    width: 90mm;
}
#poem-duyen {
    margin-left: 15%;
}

.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop4 .pagedjs_footnote_area
,.PAGE-OF-articlebr-phap-huuIMG2227e .pagedjs_footnote_area
,.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area
{
    position: absolute !important;
    bottom: 4.5mm !important;
    /* bottom: calc(var(--pagedjs-margin-bottom) - var(--pagedjs-footnotes-height)) !important; */
    right: var(--pagedjs-margin-right);
    text-align: right;
}

.PAGE-OF-articlebr-phap-huuIMG2227e .pagedjs_footnote_area {
    text-shadow:
        0px 0 3px white
    ;
}
.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area {
    /* color: red !important; */
    text-shadow:
        1px 0 2px black,
        0px 0 3px black
    ;
}
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop4 .pagedjs_footnote_area span,
.PAGE-OF-articlebr-phap-linhCS21202110152RL0936-crop4 .pagedjs_footnote_area span a {
    color: rgb(168, 168, 168) !important;
}
.PAGE-OF-articlesr-thoai-nghiemDSC1153e .pagedjs_footnote_area span {
    color: rgb(201, 201, 201) !important;
}

.article-quan-tam {
    text-shadow:
        /* 1px 0 1px white, */
        /* 0px 0 3px white, */
        0px 0 10px white,
        0px 0 10px white,
        0px 0 20px white,
        0px 0 20px white,
        0px 0 30px white,
        0px 0 30px white
    ;
}
.article-quan-tam .verse {
    display: block;
    column-span: all !important;
    width: 50%;
    padding-left: 7%;
    font-size: 115%;
    line-height: 115%;
    margin-left: auto;
    margin-right: auto;
}
.article-quan-tam .verse:after {
    display: none;
}

.article-cung-tan-nhat-hanh-thien-su-niet-ban-nhap-dieu h1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.article-cung-tan-nhat-hanh-thien-su-niet-ban-nhap-dieu figure {
    display: block;
    column-span: all !important;
    float: none;
    width: 45%;
    /* padding-top: 0; */
    padding-left: 0%;
    margin-left: auto;
    margin-right: auto;
}
.article-cung-tan-nhat-hanh-thien-su-niet-ban-nhap-dieu .verse {
    display: block;
    column-span: all !important;
    width: 50%;
    padding-left: 11%;
    margin-left: auto;
    margin-right: auto;
}




/* those blockquotes are styled completely differently */
.article-lang-mai-nam-qua > blockquote {
    page-break-inside: avoid;
    text-indent: 0pt;
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 0pt;
    font-style: normal;
}
.article-lang-mai-nam-qua > blockquote > p > strong {
    padding-top: 1pt;
}
.article-lang-mai-nam-qua > blockquote p {
    text-align: left !important;
}
.article-lang-mai-nam-qua > blockquote > p > em {
    display: block;
    padding-top: 2pt;
    padding-left: 12pt;
}
.article-lang-mai-nam-qua > blockquote > blockquote {
    text-indent: 0pt;
    margin-top: 4pt;
    margin-bottom: 20pt;
	padding-left: 7pt;
    font-style: normal;
}
article blockquote span:lang(zh) {
    font-size: 120%;
    display: inline-block;
    padding-right: 6pt;
    line-height: 110%;
    font-style: normal;
}