@charset "UTF-8";

/* this stylesheet is used when generating a PDF */
:root {
    --bleed: 5mm;
}

/* reset chapter and figure counters on the body */
body {
    margin: 0;
    padding: 0;
    counter-reset: chapternum figurenum ;
    font-family: "Gentium Book Plus", serif;
    /* in the chrome preview (not in Firefox), the first page will be blank when using line-height 14, instead of 16 pt. */
    line-height: 14pt;
    /* line-height: 16pt; */
    font-size: 11pt;
    /* https://software.sil.org/gentium/features/ */
    font-feature-settings:
    /* single-story 'a' and 'g' */
    /* "ss01", */
    /* Vietnamese-style diacritics */
    "cv75"
    ;
}

/* default */
figure {
    margin: 0;
}

.pagedjs_sheet {
    overflow: hidden;
}

@page {
    /* chrome needs to have --pagedjs-margin-top set manually, otherwise it yields different results */
    margin-top: 32pt;
    --pagedjs-margin-top: 32pt;
    margin-bottom: 40pt;

    /* BUG: this breaks the table of contents */
    /* counter-reset: footnote; */

    /* this breaks pagedjs */
    /* bleed: var(--bleed); */

    @footnote {
        padding-top: 8pt;
        color: var(--color-footnote);
        float: bottom;
    }
}

@page:left {
    /* A4 Margins: 33.27pt = 11.7369167mm */
    /* 64pt = 22.57777mm */
    /* margin-right: 22.57777mm;
    margin-left: 11.7369167mm; */

    /* for Letter format */
    /* margin-right: 37.078mm;
    margin-left: 16.7369167mm; */
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}

@page:right {
    /* A4 */
    /* margin-right: 11.7369167mm;
    margin-left: 22.57777mm; */

    /* for Letter format */
    /* margin-right: 16.7369167mm;
    margin-left: 37.078mm; */
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
    }
}

.lastmod {
    color: gray;
}
.pagedjs_right_page .lastmod {
    float: left;
}

.pagedjs_left_page .lastmod {
    float: right;
}

figure img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.articleCalligraphy img {
    max-width: 100%;
    width: auto;
}

.front-collage, .back-collage, .empty-page {
    page: photopage; /* named pages*/
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    break-after: page;
    overflow: visible;
}

.front-collage.bleed, .back-collage.bleed, .empty-page {
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed) * 2));
    height: calc(var(--pagedjs-pagebox-height) + (var(--bleed) * 2));
    top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
}

.front-collage figure, .back-collage figure {
    width: 100%;
    height: 100%;
}

.front-collage figure img, .back-collage figure img {
    width: auto;
    height: 100%;
}

@page photopage {
    /* Important for BUG-HUNTERS: if set to "0" only, it messes up the layout. it needs to be "0mm" */
    margin-top: 0mm;
    margin-right: 0mm;
    margin-left: 0mm;
    /* although this should be 0mm, in chrome, it would otherwise leave a white blank bar above the full-page images with bleed */
    margin-bottom: -5mm;

    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}

#title-page, .page-break {
    break-after: page;
}

#title-page, #zen-circle-page, #thays-full-title-page, #thays-portrait-page, .chapter, .article-editors-notes {
    page: noFooter;
}

#zen-circle-page, #thays-full-title-page, #thays-portrait-page {
    /* break-after: page; */
    /* break-before: page; */
    position: absolute;
    width: 100%;
    /* background-color: rgb(223, 255, 223); */
}

@page noFooter {
    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}

.article-editors-notes h1 {
    padding-bottom: 5%;
}


#title-page h1 {
    /* margin-top here needs to be replaced by padding-top, otherwise it does not work in the pdf in chrome */
    padding-top: 22%;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
html:lang(vi) #title-page h1 {
    padding-top: 33% !important;
    margin-bottom: 8%;
}
html:lang(vi) #title-page h2 {
    font-size: 230% !important;
}

#title-page figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
html:lang(en) #title-page h1 figure {
    width: 72%;
    padding-right: 4%;
}
html:lang(vi) #title-page h1 figure {
    width: 90%;
}
#calligraphyarticle-titles-2-and-dividers5-maskedDividers2-2-straight {
    width: 25%;
    margin-bottom: 10%;
}
#title-page h2 {
    font-family: "Cormorant Garamond";
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 190%;
    line-height: 130%;
}
#title-page h2 .num40 {
    display: inline-block;
    /* padding-left: 5pt; */
    /* padding-right: 3pt; */
    font-size: 160%;
    font-weight: 500;
}
#title-page h2 #ambrsd {
    display: block;
    font-style: italic;
    font-size: 154%;
    font-weight: 500;
    line-height: 120%;
}
#title-page h2 #tnh {
    display: block;
    font-size: 143%;
    margin-top: 4%;
    /* color: black; */
    /* font-family: "CormorantSC-Medium"; */
    /* for Medium, if this is not set, chrome will look ugly */
    /* font-weight: normal; */
}


.chapter {
    break-before: page;
    break-after: page;
}
.chapter h1 {
    padding-top: 33%;
    font-family: "CormorantSC-SemiBold";
    font-style: normal;
    font-weight: normal;
}



figure#calligraphyzen-circlezen-circle {
    width: 100%;
    padding-top: 30%;
}


#thays-portrait-page figure#ThayLampThayLamp-e2 {
    float: none;
    width: 60%;
    padding-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

#thays-portrait-page .tpp-en {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 180%;
    color: var(--color-bark-dark);
}

#thays-portrait-page .tpp-vi {
    text-align: center;
    margin-top: 5%;
}
#thays-portrait-page .tpp-thay {
    /* font-family: "Gentium Book Plus"; */
    font-family: "CormorantSC-Bold";
    font-size: 190%;
    /* font-weight: bold; */
    /* font-variant: small-caps; */
    line-height: 130%;
    margin-top: 5%;
    color: var(--color-bark-dark);
}
#thays-portrait-page .tpp-date {
    font-size: 14pt;
    display: block;
    margin-top: 3pt;
    line-height: 130%;
}

#thays-portrait-page p {
    font-size: 11pt;
    line-height: 110%;
    display: block;
    width: 38%;
    text-align: center;
    /* padding-left: 12pt; */
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

/* english only */
#thays-full-title-page p {
    display: block;
    /* margin-top does not work in PDF output */
    padding-top: 55%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}



article h1 {
    string-set: doctitle content(text);
}

h1,
h2,
h3,
h4,
h5 {
    /* page-break-after: avoid;
    page-break-inside: avoid; */
}

h1+p,
h2+p,
h3+p,
h4+p {
    /* page-break-before: avoid; */
}

table,
figure {
    /* page-break-inside: avoid; */
}





#table-of-contents {
    page: page-toc;
    columns: 2;
    break-after: page;
    column-gap: 32pt;
    font-size: 12pt;
}

@page page-toc {
    --pagedjs-margin-bottom: 60pt!important;
    margin-bottom: 60pt !important;
}

/* select second page of toc */
.pagedjs_page-toc_page:not(.pagedjs_page-toc_first_page) .pagedjs_page_content > div > div {
    padding-top: 14.5% !important;
}


#table-of-contents h1 {
    margin-bottom: 24pt;
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    break-after: page;
}

ul.toc li {
    margin-left: 3pt;
    margin-bottom: 12pt;
    page-break-inside: avoid;
}

html:lang(vi) ul.toc li {
    margin-bottom: 5pt;
}


html:lang(vi) .chapterLi {
    padding-top: 13pt;
    padding-bottom: 0pt;
}
html:lang(en) .chapterLi {
    padding-top: 26pt;
    padding-bottom: 0pt;
}
.toc-chapter {
    padding-left: 0pt;
}

.toc-chapter-title {
    font-family: "CormorantSC-Bold";
    font-size: 140%;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1pt solid var(--color-bark-light);
}

/* https://pagedjs.org/documentation/-cross-references/ */
.toc-links::before {
    content: target-counter(attr(href url), page);
    position: relative;
    display: inline-block;
    width: 22pt;
    vertical-align: top;
    text-align: right;
    left: 73mm;
    /* right: 8pt; */
    /* font-size: 14pt; */
}

.toc-title {
    /* position: relative; */
    display: inline-block;
    /* text-indent: -6pt;
    padding-left: 6pt; */
    margin-left: -5mm;
    width: 68mm;
    font-weight: bold;
    /* color: var(--color-tower-dark); */
    color: var(--color-bark-dark);
}
.toc-author {
    position: relative;
    display: inline-block;
    padding-top: 1pt;
    padding-left: 6pt;
    text-indent: -6pt;
    width: 68mm;
    margin-left: -5mm;
    left: 24pt;
}

ul.toc > *:first-child {
    padding-top: 0pt !important;
}

/* CASE STYLING: English */
ul.toc #li-strolling-with-joy-on-a-sunny-day {
    /* break-after: column; */
    /* emulate column break after */
    padding-bottom: 30pt;
}
ul.toc #li-early-years-of-plum-village {
    padding-top: 0;
}




a {
    text-decoration: none;
}
article a, #table-of-contents a {
    color: #000;
}
.pagedjs_footnote_area a {
    color: var(--color-footnote) !important;
}

/* add page number to cross references */
/* a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
} */

article {
    columns: 2;
    break-after: page;
    column-gap: 16pt
}


h1, article .author, article h2.altAuthor {
    column-span: all;
    text-align: center;
    color: var(--color-bark-dark);
}

 /* title */
h1 {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 32pt;
    line-height: 110%;
    margin-top: 12pt;
    margin-bottom: 8pt;
    /* font-style: italic; */
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
-> Note that the margins of floating and absolutely positioned elements never collapse. */
article figure {
    display: block; /* block eliminates space around image */
    float: right; /* makes paragraph text float/break around it */
    max-width: 100%;
    margin-top: 11pt;
    margin-bottom: 11pt;
}

figure.noFloat {
    float: none !important;
}

/* will also fill 5mm bleed */
figure.expandToRightBorder,
figure.expandToLeftBorder
{
    width: 120%;
    position: relative;
    max-width: none !important;
}
figure.expandToLeftBorder figcaption
{
    margin-left: 10% !important;
}
figure.expandToRightBorder figcaption
{
    margin-right: 10% !important;
}
figure.expandToRightBorder {
    /* because float is normally: right */
    right: -20%;
}
figure.expandToRightBorder.noFloat {
    right: 0 !important;
}
/* expandToLeftBorder is already left-bound */

h1.calligraphyTitle {
    margin-top: 0mm;
    margin-bottom: -5mm;
}

h1.calligraphyTitle figure {
    margin: 0 auto;
    float: none;
}
h1.calligraphyTitle figure,
h1.calligraphyTitle figure img {
    max-height: 32mm;
}

h2 { /* section in article */
    font-size: 12pt;
    font-weight: bold;
    color: var(--color-bark-dark);
    margin-top: 14pt;
    margin-bottom: 5pt;
}

html:lang(en) h3 { /* section in article */
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

.article-parallax-press-and-the-journey-to-plum-village-through-books h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}

article .author {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 6pt;
     /* less bold */
    /* font-family: "Gentium Plus"; */
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 8mm;
}

article .editors-preface,
article .author + h2,
article .author + figure
{
    margin-top: 0 !important;
    text-indent: 0 !important;
}

article .author + p
{
    margin-top: 0 !important;
}

/* this has been explicitly requested by Sr Tai N: all paragraphs are indented by default (even on the first paragraph) */
html:lang(vi) article > p {
    text-indent: 16pt;
}

article > *:first-child:not(h1) {
    margin-top: 0 !important;
}

/* for some reason, appending this above does not work */
html:lang(en) article > *:first-child:not(h1) {
    text-indent: 0 !important;
}


/* Vietnamese words are smaller on average, thus more suitable for block text */
html:lang(vi) article p {
    text-align: justify;
}
html:lang(en) article p {
    text-align: left;
    /* text-align: justify; */
}

article p, article blockquote {
    /* DEFAULT. To be refined below ... */
    margin: 0;
    orphans: 2;
    widows: 2;
}

article p:not(.editors-preface) + p,
article figure + p,
html:lang(vi) .editors-preface + p
html:lang(vi) article blockquote + p,
html:lang(vi) article .verse + p
{
    text-indent: 16pt;
    margin-top: 11pt;
}

/* TODO. breaks chromium 105 print preview. breaks page before ... wierd */
/* article h2 {
    page-break-after: avoid;
} */

html:lang(vi) article h2:not(.author) + p {
    text-indent: 16pt;
}

article blockquote {
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 6pt;
    font-style: italic;
}
html:lang(vi) article blockquote {
    text-indent: 14pt;
}
article blockquote i {
    font-style: normal;
}
article blockquote p + p {
    margin-top: 6pt;
}
/* can be in blockquote and .verse */
article cite::before {
    color: var(--color-bark-dark);
    content: "—"; /* —🙒🙛🙘 */
	font-size: 80%;
}
article cite {
	position: relative;
	display: inline-block;
	left: 3pt;
    font-style: italic;
    color: var(--color-bark-dark);
}

.verse cite {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-size: 11pt;
}
.verse cite i {
    font-style: normal;
}

article blockquote:lang(zh) {
    font-size: 120%;
    font-style: normal;
    line-height: 110%;
    text-indent: 0;
    border-left: 0 !important; /* no border */
    /* margin-top: 9pt; */
    /* margin-bottom: 9pt; */
}

p + .verse,
.verse + p
{
    margin-top: 11pt;
}

.verse {
    page-break-inside: avoid;
    margin-left: 6pt;
    text-align: left !important;
    font-style: italic;
}
.special {
    width: 105mm;
    /* column-span: all; */
    /* float: none; */
    /* margin: 0 auto;
    padding-left: 0;
    padding-right: 0; */
}
.special p {
    display: block;
}


html:lang(vi) .verse {
    /* font-size: 130%;
    line-height: 125%; */
}

.verse b, .verseTitle {
    /* position: relative; */
    /* left: -3pt; */
    /* font-family: "CormorantSC-SemiBold"; */
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal;
    /* font-size: 120%; */
    /* line-height: 120%; */
    /* text-transform: lowercase; */
}

.verse p + p {
    margin-top: 11pt;
}
.verse p {
    text-indent: 0pt;
}
.noIndent {
    text-indent: 0 !important;
}

/* 21st century */
/* https://en.wikipedia.org/wiki/Ordinal_indicator */
sup { /* superscript */
    /* otherwise, the line above is pushed up  */
    line-height: 0;
    font-size: 70%;
}

/* https://www.pagedjs.org/documentation/cheatsheet/ */

.note {
    float: footnote;
    font-size: 8pt;
    line-height: 120%;
    /* indent all but first line */
    /* margin-left: 5pt;
    text-indent: -5pt */
}

.note:after {
    /* this will prevent the superscript numeral from pushing the line down */
    line-height: 0;
}

.note::footnote-call {
    display: inline-block;
    text-indent: 0;
}

.note::footnote-marker {
    font-weight: bold;
    list-style-position: outside;
}

.translation-note {
    font-size: 80%;
    font-style: italic;
}

article span.color {
    color: var(--color-tower-dark);
}

article figure figcaption {
    /* block eliminates remaining space between image and label*/
    display: block; 
    font-size: 9pt;
    line-height: 120%;
    text-indent: 0;
    text-align: right !important;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-top: 1pt;
    z-index: 2;
}

p.editors-preface {
    font-style: italic;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 6pt;
}

p.editors-preface i {
    color: var(--color-bark-dark);
    font-style: normal;
}
/* https://unicode-search.net/unicode-namesearch.pl?term=CIRCLE */
/* https://jrgraphix.net/r/Unicode/25A0-25FF */
p.editors-preface::after, .divider::after {
    margin-top: 12pt;
    font-style: normal;
    font-size: 70%;
    content: "✦"; /*✦ ●◆✦◆✧❁🙪🙠🙢⬩ */
    line-height: 0.3mm;
    color: var(--color-bark-dark);
    text-align: center;
    display: block;
    width: 100%;
    height: 0.3mm;
    /* border-bottom: 0.5mm solid hsl(17, 36%, 15%); */
    /* background-image: linear-gradient(to right,
    transparent,
    hsl(17, 36%, 15%),
    transparent); */
    background-image: linear-gradient(to right,
    transparent,
    var(--color-bark-dark),
    transparent 50%,
    var(--color-bark-dark),
    transparent);
}

.divider {
    margin-bottom: 12pt;
}

/* normally, this css would work, but articles are split between pages, so to select the last element, we need some javascript */
/* article > p:last-child::after */
.last-article-element::after {
    /* https://en.wikipedia.org/wiki/Fleuron_(typography) */
    /* https://www.htmlsymbols.xyz/unicode/U+1F662 */
    content: " \1F662";
    /* content: ' 🙢'; 	 */
    font-weight: normal !important;
    font-style: normal !important;
    color: var(--color-bark-dark);
}

figure#calligraphyParallels-VI-p1-Ngay-Vertical {
    width: 50%;
}
figure#calligraphyParallels-VI-p2-Bon-Vertical {
    width: 50%;
}

article ul {
    list-style: none;
    padding-left: 6pt;
}
article ul li + li {
    margin-top: 4pt;
}
article ul li::before {
    content: "• ";
    color: var(--color-bark-light);
}
.divider.page {
    display: block;
    column-span: all;
    width: 40%;
    margin-top: 17pt;
    margin-bottom: 25pt;
    margin-left: auto;
    margin-right: auto;
}

.signoff {
    text-indent: 0pt;
    font-style: italic;
}
.signoff-lvl-1, .signoff-lvl-2, .signoff-lvl-3, .signoff small {
    display: inline-block;
}
.signoff-lvl-1 {
    padding-left: 16pt;
}
.signoff-lvl-2 {
    padding-left: 32pt;
}
.signoff-lvl-3 {
    padding-left: 48pt;
}
.signoff small {
    padding-top: 2pt;
    font-size: 80%;
}




/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* /////////////  CASE-BASED STYLING  /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */

