@charset "UTF-8";

:root {
    --bleed: 5mm;
}

body {
    margin: 0;
    padding: 0;
    counter-reset: chapternum figurenum ;
    font-family: "Gentium Book Plus ManualLineHeight", serif;
    /* in the chrome preview (not in Firefox), the first page will be blank when using line-height 14, instead of 16 pt. */
    line-height: 127.3%; /* ~125% has proven good */
    /* line-height: 16pt; */
    font-size: 11pt;
    /* https://software.sil.org/gentium/features/ */
    font-feature-settings:
    /* single-story 'a' and 'g' */
    /* "ss01", */
    /* Vietnamese-style diacritics */
    "cv75"
    ;
}

/* default */
figure {
    margin: 0;
}
figure > div {
    width: 100%;
    height: 100%;
}
article figure > div {
    /* allows me to crop */
    overflow: hidden;
}

.pagedjs_sheet {
    overflow: hidden;
}

@page {
    /* chrome needs to have --pagedjs-margin-top set manually, otherwise it yields different results */
    margin-top: 32pt;
    --pagedjs-margin-top: 32pt;
    margin-bottom: 40pt;

    /* BUG: this breaks the table of contents */
    /* counter-reset: footnote; */

    /* this breaks pagedjs */
    /* bleed: var(--bleed); */

    @footnote {
        padding-top: 8pt;
        color: var(--color-footnote);
        float: bottom;
    }
}

@page:left {
    /* A4 Margins: 33.27pt = 11.7369167mm */
    /* 64pt = 22.57777mm */
    /* margin-right: 22.57777mm;
    margin-left: 11.7369167mm; */

    /* for Letter format */
    /* margin-right: 37.078mm;
    margin-left: 16.7369167mm; */
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}

@page:right {
    /* A4 */
    /* margin-right: 11.7369167mm;
    margin-left: 22.57777mm; */

    /* for Letter format */
    /* margin-right: 16.7369167mm;
    margin-left: 37.078mm; */
    @bottom-right {
        padding: 10pt 0 10pt 120pt;
        content: counter(page);
        font-size: 11pt;
    }
}

.lastmod {
    color: gray;
    background-color: white;
}
.pagedjs_right_page .lastmod {
    float: left;
}

.pagedjs_left_page .lastmod {
    float: right;
}

figure img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.articleCalligraphy img {
    max-width: 100%;
    width: auto;
}

.full-page-image, .empty-page {
    page: photopage; /* named pages*/
    width: calc(var(--pagedjs-pagebox-width));
    height: calc(var(--pagedjs-pagebox-height));
    top: calc((var(--pagedjs-margin-top))*-1);
    left: calc((var(--pagedjs-margin-left))*-1);
    position: relative;
    break-after: page;
    overflow: visible;
}

.full-page-image.bleed, .empty-page {
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed) * 2));
    height: calc(var(--pagedjs-pagebox-height) + (var(--bleed) * 2));
    top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
}

.full-page-image figure {
    width: 100%;
    height: 100%;
    margin-top: 0 !important;
}

.full-page-image figure img {
    width: auto;
    height: 100%;
}

@page photopage {
    /* Important for BUG-HUNTERS: if set to "0" only, it messes up the layout. it needs to be "0mm" */
    margin-top: 0mm;
    margin-right: 0mm;
    margin-left: 0mm;
    /* although this should be 0mm, in chrome, it would otherwise leave a white blank bar above the full-page images with bleed */
    margin-bottom: -5mm;

    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}

#title-page, .page-break {
    break-after: page;
}

.chapter {
    page: noFooter;
}

@page noFooter {
    @bottom-right {
        display: none;
    }
    @bottom-left {
        display: none;
    }
    @bottom-center {
        display: none;
    }
}


.chapter {
    break-before: page;
    break-after: page;
}
.chapter h1 {
    padding-top: 33%;
    font-family: "CormorantSC-SemiBold";
    font-style: normal;
    font-weight: normal;
}


article h1 {
    string-set: doctitle content(text);
}


#table-of-contents {
    page: page-toc;
    columns: 2;
    break-after: page;
    column-gap: 32pt;
    font-size: 12pt;
}

@page page-toc {
    --pagedjs-margin-bottom: 60pt!important;
    margin-bottom: 60pt !important;
}

/* select second page of toc */
.pagedjs_page-toc_page:not(.pagedjs_page-toc_first_page) .pagedjs_page_content > div > div {
    padding-top: 14.5% !important;
}


#table-of-contents h1 {
    margin-bottom: 24pt;
}

ul.toc {
    list-style: none;
    margin: 0;
    padding: 0;
    break-after: page;
}

ul.toc li {
    margin-left: 3pt;
    margin-bottom: 10pt;
    page-break-inside: avoid;
}
html:lang(en) ul.toc li {
    margin-bottom: 16pt;
}

html:lang(vi) ul.toc li {
    margin-bottom: 5pt;
}


html:lang(vi) .chapterLi {
    padding-top: 13pt;
    padding-bottom: 0pt;
}
html:lang(en) .chapterLi {
    padding-top: 26pt;
    padding-bottom: 0pt;
}
.toc-chapter {
    padding-left: 0pt;
}

.toc-chapter-title {
    font-family: "CormorantSC-Bold";
    font-size: 140%;
    line-height: 120%;
    font-style: normal;
    font-weight: normal;
    border-bottom: 1pt solid var(--color-bark-light);
}

/* https://pagedjs.org/documentation/-cross-references/ */
.toc-links::before {
    content: target-counter(attr(href url), page);
    position: relative;
    display: inline-block;
    width: 22pt;
    vertical-align: top;
    text-align: right;
    left: 73mm;
    /* right: 8pt; */
    /* font-size: 14pt; */
}

.toc-title {
    /* position: relative; */
    display: inline-block;
    /* text-indent: -6pt;
    padding-left: 6pt; */
    margin-left: -5mm;
    width: 68mm;
    font-weight: bold;
    /* color: var(--color-tower-dark); */
    color: var(--color-bark-dark);
}
.toc-author {
    position: relative;
    display: inline-block;
    padding-top: 1pt;
    padding-left: 6pt;
    text-indent: -6pt;
    width: 68mm;
    margin-left: -5mm;
    left: 24pt;
}

ul.toc > *:first-child {
    padding-top: 0pt !important;
}

/* CASE STYLING: English */
ul.toc #li-strolling-with-joy-on-a-sunny-day {
    /* break-after: column; */
    /* emulate column break after */
    padding-bottom: 30pt;
}
ul.toc #li-early-years-of-plum-village {
    padding-top: 0;
}




a {
    text-decoration: none;
}
#table-of-contents a {
    color: #000;
}
article a {
    text-decoration: underline solid hsl(204deg 9.1% 80.51%);
    color: var(--color-sky-dark);
}
.pagedjs_footnote_area a {
    color: var(--color-footnote) !important;
}

/* add page number to cross references */
/* a.xref::after {
    content: " (page " target-counter(attr(href, url), page) ")";
} */
article {
    columns: 2;
    break-after: page;
    column-gap: 16pt;
}


h1, article .author, article h2.altAuthor {
    column-span: all;
    text-align: center;
    color: var(--color-bark-dark);
}

 /* title */
h1 {
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 32pt;
    line-height: 110%;
    margin-top: 12pt;
    margin-bottom: 8pt;
    /* font-style: italic; */
    /* changes how numbers look like */
    font-feature-settings: 'lnum';
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
-> Note that the margins of floating and absolutely positioned elements never collapse. */
article figure {
    display: block; /* block eliminates space around image */
    float: right; /* makes paragraph text float/break around it */
    max-width: 100%;
    margin-top: 11pt;
    margin-bottom: 11pt;
}

figure.noFloat {
    float: none !important;
}

/* will also fill 5mm bleed */
figure.expandToRightBorder,
figure.expandToLeftBorder
{
    width: 120%;
    position: relative;
    max-width: none !important;
}
figure.expandToLeftBorder figcaption
{
    margin-left: 10% !important;
}
figure.expandToRightBorder figcaption
{
    margin-right: 10% !important;
}
figure.expandToRightBorder {
    /* because float is normally: right */
    right: -20%;
}
figure.expandToRightBorder.noFloat {
    right: 0 !important;
}
/* expandToLeftBorder is already left-bound */

h1.calligraphyTitle {
    margin-top: 0mm;
    margin-bottom: -2mm;
}

h1.calligraphyTitle figure {
    margin: 0 auto;
    float: none;
}
h1.calligraphyTitle figure,
h1.calligraphyTitle figure img {
    max-height: 32mm;
}


h2 { /* section in article */
    font-size: 12pt;
    font-weight: bold;
    color: var(--color-bark-dark);
    margin-top: 14pt;
    margin-bottom: 5pt;
}

html:lang(en) h3 { /* section in article */
    font-weight: bold;
    font-style: italic;
    font-size: 1em;
}

article .author {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 6pt;
     /* less bold */
    /* font-family: "Gentium Plus"; */
    font-weight: normal;
    font-variant: small-caps;
    margin-bottom: 8mm;
}

article .editors-preface,
article .author + h2,
article .author + figure
{
    margin-top: 0 !important;
    text-indent: 0 !important;
}

article .author + p
{
    margin-top: 0 !important;
}

/* this has been explicitly requested by Sr Tai N: all paragraphs are indented by default (even on the first paragraph) */
html:lang(vi) article > p,
html:lang(vi) .positioned-text-box p
{
    text-indent: 16pt;
}

article > *:first-child:not(h1) {
    margin-top: 0 !important;
}

/* for some reason, appending this above does not work */
html:lang(en) article > *:first-child:not(h1) {
    text-indent: 0 !important;
}


/* Vietnamese words are smaller on average, thus more suitable for block text */
html:lang(vi) article p {
    text-align: justify;
    text-align-last: left;
}
/* if the paragraph is a fragment */
html:lang(vi) article p[data-split-to] {
    text-align-last: justify;
}
html:lang(en) article p {
    text-align: left;
    /* text-align: justify; */
}

article p, article blockquote {
    /* DEFAULT. To be refined below ... */
    margin: 0;
    /* does not work in Firefox, but in Chrome. Very strange. */
    /* does not work reliably. new pages can have 1-line widows */
    orphans: 3;
    widows: 3;
}

article p:not(.editors-preface):not(.centered-preface) + p,
article div:not(.editors-preface) + p,
article figure + p,
html:lang(vi) .editors-preface + p
html:lang(vi) article blockquote + p,
html:lang(vi) article .verse + p
{
    text-indent: 16pt;
    margin-top: 11pt;
}

article h2, article h3 {
    page-break-after: avoid;
}

html:lang(vi) article h2:not(.author) + p {
    text-indent: 16pt;
}

article blockquote {
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 6pt;
    font-style: italic;
}
html:lang(vi) article blockquote {
    text-indent: 14pt;
}
article blockquote i {
    font-style: normal;
}
article blockquote p + p {
    margin-top: 6pt;
}
/* can be in blockquote and .verse */
article cite::before {
    color: var(--color-bark-dark);
    content: "—"; /* —🙒🙛🙘 */
	font-size: 80%;
}
article cite {
	position: relative;
	display: inline-block;
    text-indent: -2mm;
	left: 2mm;
    padding-right: 2mm; /* for article-end marker*/
    font-style: italic;
    color: var(--color-bark-dark);
}

.verse cite {
    font-family: "Gentium Book Plus";
    font-weight: normal;
    font-size: 11pt;
}
.verse cite i {
    font-style: normal;
}

article blockquote:lang(zh) {
    font-size: 120%;
    font-style: normal;
    line-height: 110%;
    text-indent: 0;
    border-left: 0 !important; /* no border */
    /* margin-top: 9pt; */
    /* margin-bottom: 9pt; */
}

p + .verse,
.verse + p,
.verse + .verse
{
    margin-top: 11pt;
}

.verse {
    page-break-inside: avoid;
    margin-left: 6pt;
    text-align: left !important;
    font-style: italic;
}


html:lang(vi) .verse {
    /* font-size: 130%;
    line-height: 125%; */
}

.verse b, .verseTitle {
    /* position: relative; */
    /* left: -3pt; */
    /* font-family: "CormorantSC-SemiBold"; */
    font-variant: small-caps;
    font-style: normal;
    font-weight: normal;
    /* font-size: 120%; */
    /* line-height: 120%; */
    /* text-transform: lowercase; */
}

.verse p + p {
    margin-top: 11pt;
}
.verse p {
    text-indent: 0pt;
}


/* 21st century */
/* https://en.wikipedia.org/wiki/Ordinal_indicator */
sup { /* superscript */
    /* otherwise, the line above is pushed up  */
    line-height: 0;
    font-size: 70%;
}

.note {
    float: footnote;
    font-size: 8pt;
    line-height: 120%;
    /* indent all but first line */
    /* margin-left: 5pt;
    text-indent: -5pt */
}
.note:after {
    /* this will prevent the superscript numeral from pushing the line down */
    line-height: 0;
    vertical-align: super;
    font-size: 65%;
}
.note::footnote-call {
    display: inline-block;
    text-indent: 0;
}
.note::footnote-marker {
    font-weight: bold;
    list-style-position: outside;
}

.translation-note {
    font-size: 80%;
    font-style: italic;
}

article span.color {
    color: var(--color-tower-dark);
}

article figure figcaption {
    /* block eliminates remaining space between image and label*/
    display: block; 
    font-size: 9pt;
    line-height: 120%;
    text-indent: 0;
    text-align: right !important;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-top: 1pt;
    z-index: 2;
}

.centered-preface {
    column-span: all;
    font-style: italic;
    text-align: center !important;
    text-align-last: center !important;
    text-indent: 0 !important;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

.editors-preface {
    font-style: italic;
    margin-left: 6pt;
    margin-right: 6pt;
    margin-bottom: 12pt;
}

.editors-preface i {
    color: var(--color-bark-dark);
    font-style: normal;
}
/* https://unicode-search.net/unicode-namesearch.pl?term=CIRCLE */
/* https://jrgraphix.net/r/Unicode/25A0-25FF */
.editors-preface::after, .divider::after {
    margin-top: 10pt;
    font-style: normal;
    content: "✦";
    font-size: 70%;
    /* problems with layout without padding. very weird. */
    padding-top: 1.2mm;
    padding-bottom: 1.8mm;
    height: 0.25mm;
    line-height: 0.65mm;
    color: var(--color-bark-dark);
    text-align: center;
    text-align-last: center;
    display: block;
    width: 100%;
    /* box-shadow: inset ... will produce glitches (border stripes) in pdf output */
    background-clip: content-box;
    background-image: linear-gradient(to right,
    transparent 3%,
    var(--color-bark-dark),
    transparent 50%,
    var(--color-bark-dark),
    transparent 97%);
}

.divider {
    margin-bottom: 12pt;
}

/* normally, this css would work, but articles are split between pages, so to select the last element, we need some javascript */
/* article > p:last-child::after */
.last-article-element::after {
    /* https://en.wikipedia.org/wiki/Fleuron_(typography) */
    /* https://www.htmlsymbols.xyz/unicode/U+1F662 */
    content: " \1F662";
    /* content: ' 🙢'; 	 */
    font-weight: normal !important;
    font-style: normal !important;
    color: var(--color-bark-dark);
}

article ol {
    padding-left: 4mm;
}
article ul {
    list-style: none;
    padding-left: 11pt;
}
article ul li {
    text-indent: -6pt;
}
article ul li + li, article ol li + li {
    margin-top: 4pt;
}
article ul li::before {
    content: "• ";
    color: var(--color-bark-light);
}
.divider.page {
    display: block;
    column-span: all;
    width: 40%;
    margin-top: 17pt;
    margin-bottom: 25pt;
    margin-left: auto;
    margin-right: auto;
}

.signoff {
    text-indent: 0pt !important;
    font-style: italic;
}
.signoff-lvl-1, .signoff-lvl-2, .signoff-lvl-3, .signoff small {
    display: inline-block;
}
.signoff-lvl-1 {
    padding-left: 16pt;
}
.signoff-lvl-2 {
    padding-left: 32pt;
}
.signoff-lvl-3 {
    padding-left: 48pt;
}
.signoff small {
    padding-top: 2pt;
    font-size: 80%;
}


.positioned-text-box {
    position: absolute;
    /* box-shadow: inset 0 0 4px 2px rgba(255, 0, 0, 0.199); */
    /* positioned in element style */
}

.full-page-background-img-bleed {
    position: absolute;
    /* for some unknown reason, if I position this with >top<, in the pdf output, a top-margin remains */
    bottom: calc((var(--pagedjs-margin-bottom) + var(--bleed)) * -1);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    z-index: -1;
}
.full-page-background-img-bleed figure {
    float: none;
    margin: 0mm !important;
}

p.pull-quote {
    font-family: "Cormorant Garamond";
    font-size: 170%;
    margin-top: 0.25em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.3em;
    text-indent: -0.2em !important;
    line-height: 130%;
    font-weight: 400;
    font-style: italic;
}
p.pull-quote:before {
    content: '“';
    font-size: 300%;
    font-weight: 100;
    position: relative;
    top: 0.32em;
    left: -0.13em;
    color: #939393;
}

.removeTopMargin,
.removeTopMarginInFollowingElem + *
 {
    margin-top: 0em !important;
}

.noIndent,
.removeIndentInFollowingElem + * {
    text-indent: 0 !important;
}

.article-a-year-in-review h2 em,
.article-lang-mai-nam-qua h2 em {
    font-weight: normal;
}




























/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */
/* /////////////  CASE-BASED STYLING  /////////////// */
/* ////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// */

/* merge with succeeding poem/article */
.article-giai-toa-han-thu-khoi-suoi-yeu-thuong
{
    break-after: unset !important;
}


/* Adjusting title and author */

h1#resilience-community-and-spirituality {
    font-size: 31pt;
}
h1#the-profound-silence-of-dharma-mountain, 
h1#transforming-resentment-into-compassion {
    font-size: 28pt;
}


.article-a-year-in-review h1:not(#a-year-in-review),
.article-lang-mai-nam-qua h1:not(#lang-mai-nam-qua)
{
    margin-top: 0mm !important;
}

.article-ao-nau-phai-mau-nang h2.author {
    margin-top: -21pt;
    padding-left: 2em;
}
.article-co-nhung-ngay-uom-nang h2.author,
.article-a-friend-on-the-path h2.author {
    margin-top: -12pt;
}
.article-coming-home-to-our-roots h2.author {
    margin-top: -13pt;
}
.article-ngon-djoi-tieu-an h2.author {
    margin-bottom: 4mm;
}
.article-music-a-dharma-door h2.author,
.article-chiec-ao-nhat-binh h2.author {
    margin-top: -22pt;
}
.article-canh-cua-xot-thuong h2.author {
    margin-top: -17pt !important;
}
.article-tieng-goi h2.author {
    margin-top: -9pt !important;
}
.article-trot-thuong h2.author {
    margin-top: -27pt !important;
}
#thap-sang-hien-huu + h2.author {
    margin-top: -9pt !important;
}
.article-love-is-the-answer h2.author {
    margin-top: -24pt;
}
#cau-tra-loi-la-tinh-thuong + h2.author {
    margin-top: -16pt !important;
}
.article-nguoi-dji-hai-thuoc-djau-non h2.author {
    margin-top: 0pt;
}
.article-blossoming-trees h2.author,
.article-nguoi-dja-ve-dja-toi h2.author {
    margin-top: -10pt;
}
.article-the-door-of-compassion h2.author {
    margin-top: -9pt;
    padding-right: 3.5em;
}
.article-the-calling h2.author {
    margin-top: -32pt;
    padding-right: 7em;
}
.article-cong-phu-quet-la h2.author,
.article-ngan-song-trang-hien h2.author {
    margin-top: -15pt;
}
.article-tro-ve-nguon-coi h2.author {
    margin-top: 3pt;
}
.article-chao-djon-binh-minh h2.author {
    margin-top: -18pt;
    margin-left: 3.5em;
}
.article-muon-thu-ngan-dam-mot-nha h2.author,
.article-theo-dau-chan-xua h2.author {
    margin-top: -6pt;
}
.article-a-day-of-alms h2.author {
    margin-top: -17pt;
}
.article-lang-mai-nam-qua h2.author {
    margin-top: -10pt;
    margin-left: 20mm;
}
.article-flowers-of-peace h2.author,
.article-bong-dang-thay h2.author {
    margin-top: -8pt;
}
.article-chum-tho h2 {
    margin-bottom: 12mm !important;
}
#chum-tho-djat-to + h2.author {
    margin-bottom: 13mm !important;
}

/* default is 32mm */
#calligraphy2024article-titlessr-dinh-nghiem-cong-phu-quet-la,
#calligraphy2024article-titlessr-dinh-nghiem-cong-phu-quet-la img,
#calligraphy2024article-titlesbr-duc-dinh-a-day-of-alms, #calligraphy2024article-titlesbr-duc-dinh-a-day-of-alms img,
#calligraphy2024article-titlesbr-hai-thuong-trot-thuong,
#calligraphy2024article-titlesbr-hai-thuong-trot-thuong img,
#calligraphy2024article-titlessr-hien-hanh-tieng-goi, #calligraphy2024article-titlessr-hien-hanh-tieng-goi img,
#calligraphy2024article-titlessu-ong-love-is-the-answer, #calligraphy2024article-titlessu-ong-love-is-the-answer img,
h1#tro-ve-nguon-coi,
h1#tro-ve-nguon-coi img,
#calligraphy2024article-titlessr-hien-hanh-the-calling, #calligraphy2024article-titlessr-hien-hanh-the-calling img,
.calligraphy2024article-titlessr-uyen-nghiem-tho-theo-dau-chan-xua, #calligraphy2024article-titlessr-uyen-nghiem-tho-theo-dau-chan-xua img,
#calligraphy2024article-titlesbr-thien-chi-blossoming-trees, #calligraphy2024article-titlesbr-thien-chi-blossoming-trees img {
    max-height: 36mm !important;
}

/* this one is copied from last year, which was scanned bigger, thus needs to be downsized */
#calligraphy2024article-titlesbbt-lang-mai-nam-qua-2024, #calligraphy2024article-titlesbbt-lang-mai-nam-qua-2024 img {
    max-height: 26mm !important;
}










.article-a-year-in-review > blockquote,
.article-lang-mai-nam-qua > blockquote {
    page-break-inside: avoid;
    text-indent: 0pt !important;
    margin-top: 11pt;
    margin-bottom: 14pt;
	padding-left: 0pt;
    font-style: normal;
}
.article-a-year-in-review > blockquote > p > strong,
.article-lang-mai-nam-qua > blockquote > p > strong {
    padding-top: 1pt;
}
.article-a-year-in-review > blockquote p,
.article-lang-mai-nam-qua > blockquote p {
    text-align: left !important;
}
.article-a-year-in-review > blockquote > p > em,
.article-lang-mai-nam-qua > blockquote > p > em {
    display: block;
    padding-top: 2pt;
    padding-left: 12pt;
}
.article-a-year-in-review > blockquote > blockquote,
.article-lang-mai-nam-qua > blockquote > blockquote {
    text-indent: 0pt !important;
    margin-top: 4pt;
    margin-bottom: 20pt;
	padding-left: 7pt;
    font-style: normal;
}





figure#article2024Done-Daffodil-familyBrNhat-Xuane2,
figure#article2024Done-Daffodil-family137110723e,
figure#article2024Done-Daffodil-familySrDieu-Hanhe,
figure#article2024Done-Daffodil-familyBrNhat-Vane,
figure#article2024Done-Daffodil-familyBrNhat-Nguyene,
figure#article2024Done-Daffodil-familyBrNhat-Thanhe,
figure#article2024Done-Daffodil-family211110723e,
figure#article2024Done-Daffodil-familyBrNhat-Luonge2,
figure#article2024Done-Daffodil-family05505Nov2023e,
figure#article2024Done-Daffodil-family05105Nov2023ecrop,
figure#article2024Done-Daffodil-familySrDJang-Hanhe {
    display: inline;
    float: left;
    margin-right: 0.9em;
    padding-top: 0.3em;
    margin-bottom: 0.6em;
    /* margin-top: 0em; */
    width: 47%;
}

.article-thap-sang-hien-huu .editors-preface,
.article-love-is-the-answer .editors-preface {
    column-span: all;
    width: 71%;
    margin-left: auto;
    margin-right: auto;
}

.article-thap-sang-hien-huu .editors-preface::after,
.article-love-is-the-answer .editors-preface::after {
    display: none;
}

figure#article2024Done-interview-with-thayTNH-spain2014-2 {
    display: block;
    float: none;
    column-span: all;
    width: 71%;
    margin-top: 1.2em;
    margin-bottom: 1.4em;
    margin-left: auto;
    margin-right: auto;
}

figure#article2024Done-interview-with-thayTNH-spain2014-2 + p {
    text-indent: 0em;
    margin-top: 0em;
}


.PAGE-OF-LTLM47-2024-cover-NH-TeensLTLM47-2024July2023sararemington0013editedcroppedoverflowLight p,
.article-theo-dau-chan-xua p,
.PAGE-OF-article2024Done-interview-with-thayIMG9672 p {
    text-shadow: 0.3pt 0.4pt 0px white;
}

#article2024sr-tam-muoiSr-Tam-Muoie,
#article2024Done-Resillence-Community-SpitualityHa-Vinh-Tho34,
#article2024Done-Resillence-Community-SpitualityRehena34,
#article2024Done-Resillence-Community-SpitualitySatish-Kumar34 {
    display: inline;
    float: left;
    margin-right: 0.9em;
    padding-top: 0.3em;
    margin-bottom: 2.3em;
    /* margin-top: 0em; */
    width: 35%;
}

#article2024sr-tam-muoiSr-Tam-Muoie {
    margin-top: 0em;
    margin-bottom: 0em;
}

html:lang(vi) #article2024Done-Resillence-Community-SpitualityRehena34,
html:lang(vi) #article2024Done-Resillence-Community-SpitualitySatish-Kumar34,
#article2024Done-Resillence-Community-SpitualityHa-Vinh-Tho34 {
    margin-bottom: 0em;
}

.article-cau-tra-loi-la-tinh-thuong .editors-preface p,
.article-resilience-community-and-spirituality .editors-preface p {
    text-indent: 0em;
}

figure#article2024Done-Sr-Tam-DucMG0514e {
    display: block;
    float: none;
    column-span: all;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

figure#article2024Done-BrDJuc-DJinhRains-retreat-23-241e,
figure#article2024Done-BrDJuc-DJinhRains-retreat-23-2410e {
    width: 47.4%;
}
figure#article2024Done-BrDJuc-DJinhRains-retreat-23-2410e {
    margin-left: 5%;
}

figure#article2024Done-Br-Bat-NhaCTD04445 {
    display: inline;
    float: left;
    margin-right: 0.9em;
    padding-top: 0.3em;
    margin-bottom: 0.9em;
    /* margin-top: 0em; */
    width: 45%;
}


/* full-paper-width */
figure#article2024Done-Sr-Tuyet-NIMG6618ecut {
    display: block;
    float: none;
    left: -8%;
    column-span: all;
    /* width: 97%; */
    margin-left: auto;
    margin-right: auto;
    width: 120%;
    position: relative;
    max-width: none !important;
}

figure#article2024Done-Sr-Uyen-NghiemArticle-Sr-Uyen-NDSC01094e,
figure#article2024Done-BrPhap-UngBrPhap-Unge {
    display: block;
    float: none;
    /* left: -12%; */
    column-span: all;
    /* width: 97%; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    max-width: none !important;
}

html:lang(en) figure#article2024Done-BrPhap-UngBrPhap-Unge {
    width: 83%;
}


/* column-span images */
figure#article2024Done-Sr-Bo-De4181814764144045512472292033593610773920883n,
figure#article2024Sr-Lam-Hy012,
figure#article2024br-dinh-thanhTransforming-Resentment-Br-Dinh-Thanh,
figure#article2024Done-Br-Phap-LuuIMG6801e,
figure#article2024Done-Br-Phap-LuuDSC02105e,
figure#article2024sr-tam-muoibelle-vue-ouestJPGe,
figure#article2024sr-dao-nghiemcup-of-teae,
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyVN-24Day-18,
figure#article2024Done-Review-of-the-YearNovice-ordinationChuong-vang-family-2,
figure.zasp,
figure#article2024Done-Review-of-the-YearTNH-Center528562133967da665de4eo,
figure#article2024Done-Review-of-the-YearGreat-Ordination-CeremonyDSC2314,
html:lang(vi) figure#article2024Done-Memorial-CeremonyHueCeremonyLe-dai-tuong-1-copy,
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC4445e,
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC5433e,
figure#article2024Done-Memorial-Ceremony67SuOng2ndYearMemorial220124crop,
figure#article2024Done-SrBao-NIMG3353,
figure#article2024ScannedDrawings0705-Ky-to-dje-nhie,
figure#article2024Done-Coming-home-to-our-rootsPXL20230608053312985e,
html:lang(vi) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e,
figure#article2024Done-interview-with-thayVncon-ve-miong-tua-noi-dat-me,
figure#LTLM47-2024-cover-NH-TeensLTLM47-2024July2023sararemington0013editedcropped,
figure#article2024Done-interview-with-thayEni-am-in-love-with-mother-earthe,
html:lang(vi) figure#article2024Done-sr-linh-di20231006-Battir-Terracee,
html:lang(vi) figure#article2024Done-sr-linh-di20231006-Deep-Relaxation,
figure#article2024Done-sr-linh-di4b0fc9b1-47ca-49f3-8d3c-8395efe91e73e,
figure#article2024Done-sr-thuan-nghiemIMG3889,
figure#article2024Done-SrHoa-NghiemSrHoa-Nghiem-Princetone,
figure#article2024Done-Sr-Tuyet-NDSC00153e {
    display: block;
    float: none;
    /* left: -12%; */
    column-span: all;
    /* default */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: none !important;
}
figure#LTLM47-2024-cover-NH-TeensLTLM47-2024July2023sararemington0013editedcropped {
    width: 92%;
    margin-top: 2em;
    margin-bottom: 0em;
}


figure#article2024Done-interview-with-thayVncon-ve-miong-tua-noi-dat-me {
    width: 95%;
    margin-top: 2em;
    margin-bottom: 0em;
}
figure#article2024sr-tam-muoibelle-vue-ouestJPGe,
figure#article2024Done-Review-of-the-YearTNH-Center528562133967da665de4eo {
    width: 100%;
    /* margin-top: 2em; */
    margin-bottom: 0em;
}
figure#article2024Sr-Lam-Hy012 {
    width: 119%;
    left: -19mm;
    margin-top: 1.5em;
    margin-bottom: 0em;
}
html:lang(en) figure#article2024Done-Review-of-the-YearGreat-Ordination-CeremonyDSC2314 {
    width: 100%;
    margin-top: 6em;
    margin-bottom: 0em;
}
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyVN-24Day-18 {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 1.5em;
}

figure#article2024Done-Coming-home-to-our-rootsPXL20230608053312985e,
figure#article2024Done-interview-with-thayEni-am-in-love-with-mother-earthe {
    width: 57%;
    margin-bottom: 0em;
}
html:lang(vi) figure#article2024Done-sr-linh-di20231006-Battir-Terracee {
    width: 60%;
    margin-bottom: 0em;
}
html:lang(vi) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e {
    width: 77%;
    margin-bottom: 0em;
}
figure#article2024Done-sr-linh-di4b0fc9b1-47ca-49f3-8d3c-8395efe91e73e {
    width: 65%;
    margin-bottom: 0em;
}
figure#article2024Done-Sr-Bo-De4181814764144045512472292033593610773920883n,
figure#article2024Done-Br-Phap-LuuIMG6801e
{
    width: 70%;
    margin-bottom: 0em;
}

figure#article2024Done-Memorial-Ceremony67SuOng2ndYearMemorial220124crop,
figure#article2024Done-SrHoa-NghiemSrHoa-Nghiem-Princetone {
    width: 100%;
    margin-bottom: 0em;
}
figure#article2024Done-Memorial-Ceremony67SuOng2ndYearMemorial220124crop {
    margin-top: 4em;
}


figure#article2024ScannedDrawings0705-Ky-to-dje-nhie {
    width: 119.5%;
    right: 10mm;
    top: 39mm;
    height: 172mm;
}
figure#article2024Done-Br-Phap-LuuDSC02105e {
    width: 96%;
    margin-bottom: 0em;
}
figure#article2024Done-Br-Phap-LuuDSC02105e {
    height: 91mm;
}
figure.memorialEN {
    height: 51mm;
}
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC5565 {
    margin-top: 0;
}
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC5433e {
    width: 85%;
    margin-top: 0em;
    margin-bottom: 0em;
}
figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC4445e {
    width: 85%;
    margin-top: 0em;
    margin-bottom: 1.5em;
}
html:lang(en) figure#article2024Done-Memorial-CeremonyHueBefore-the-CeremonyDSC4445e {
    width: 95%;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
html:lang(vi) figure#article2024Done-Memorial-CeremonyHueCeremonyLe-dai-tuong-1-copy {
    width: 84%;
    margin-top: 1.5em;
    margin-bottom: 0em;
}
figure#article2024Done-Review-of-the-YearNovice-ordinationChuong-vang-family-2 {
    width: 100%;
    margin-bottom: 0;
}
figure#article2024Done-Review-of-the-YearNovice-ordinationChuong-vang-family-2 {
    height: 68mm;
}
/* crop top (sky) away */
html:lang(en) figure#article2024Done-sr-thuan-nghiemIMG-0378 img {
    object-fit: cover;
    height: 60mm;
    width: 85mm;
    object-position: center bottom;
}

figure#article2024sr-dao-nghiemcup-of-teae {
    width: 139mm;
    height: 93mm;
    margin-bottom: 0;
}

html:lang(en) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e {
    float: none !important
}
html:lang(vi) figure#article2024Done-sr-thuan-nghiemIMG3889 {
    width: 100%;
    margin-bottom: 0em;
}
html:lang(en) figure#article2024Done-sr-thuan-nghiemIMG3889 {
    width: 78%;
    margin-bottom: 0em;
}
figure#article2024br-dinh-thanhTransforming-Resentment-Br-Dinh-Thanh {
    width: 80%;
}




html:lang(en) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e {
    height: 55mm;
}


/* Previously, we cropped photos using object-fit: cover; However, Chrome's PDF renderes converts those images to PNGs (from JPG), leading to gigantic files, and also full memory, crashing Puppeteer. Therefore, I use instead a parent-div that has overflow: hidden, and a oversize-centered child img inside. Note that I need the figcaption to keep overflow visible, thus the need for the extra div. */
/* https://github.com/puppeteer/puppeteer/issues/458 */
/* https://stackoverflow.com/questions/38327827/how-to-center-a-child-element-in-css-even-if-it-is-larger-than-the-parent */

/* before: */
/* html:lang(en) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e img {
    object-fit: cover;
    height: 55mm;
} */

.hueMemorial img,
.hueMemorialEN img,
figure.lmnq1 img,
figure.lmnq3 img,
figure.lmnq4 img,
figure.lmnq6 img,
figure.lmnq7 img,
figure.lmnqSummer img,
figure.lmnqWakeUp img,
figure.lmnqWakeUpSlim img,
figure.lmnqEducators img,
figure.lmnqHFarm img,
figure.lmnqHFarmFirst img,
figure.lmnqRainsSCCK img,
html:lang(en) figure.lmnqRainsSCCK img,
figure.lmnqHFarmBig img,
figure.lampT img,
figure.lmnqNovices img,
figure.lmnqLampSymbolic img,
figure#article2024Done-Review-of-the-YearNovice-ordinationChuong-vang-family-2 img,
figure#article2024Done-Review-of-the-YearMonastic-on-Tour9ee37f7c-830f-4a3f-ae2d-bca7bdf6943a img,
figure#article2024ScannedDrawings0705-Ky-to-dje-nhie img,
figure.memorialEN img,
figure#article2024Done-Br-Phap-LuuDSC02105e img,
figure#article2024sr-dao-nghiemcup-of-teae img,
html:lang(en) figure#article2024Done-Sr-Hien-HanhSr-Hien-Hanh-2e img,
figure.myImgTest img
{
    max-height: none !important;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

figure#article2024sr-dao-nghiemcup-of-teae img {
    top: 43%;
}


figure.myImgTest {
    column-span: all;
    float: none;
    width: 100mm;
    height: 40mm;
    background-color: red;
}




figure#article2024br-duc-hienIMG0754e {
    padding-left: 10%;
    padding-right: 10%;
}
figure.lmnqLampSymbolic,
figure#article2024Done-Sr-Bo-DeDSC7412,
figure#article2024Done-Sr-Tam-DucCooking-retreat-2023-8e,
figure#article2024Done-Sr-Tam-DucPV202345e,
figure#article2024Sr-Lam-Hyimage123923953-3-e,
figure#article2024sr-tam-muoiIMG20230901075344e,
figure#article2024Done-Br-Bat-NhaCTD04521e {
    padding-left: 6%;
    padding-right: 6%;
}

figure#article2024Done-Memorial-Ceremony40SuOng2ndYearMemorial220124,
figure#article2024Done-Memorial-Ceremony10SuOng2ndYearMemorial220124,
figure#article2024Done-Memorial-Ceremony06SuOng2ndYearMemorial220124,
figure#article2024Done-Memorial-Ceremony21SuOng2ndYearMemorial220124,
html:lang(vi) figure#article2024Done-Br-Minh-HyMG9118 {
    padding-left: 5%;
    padding-right: 5%;
}









figure#article2024Done-SrBao-NIMG3353 {
    width: 115%;
    margin-bottom: 0em;
    margin-top: 5em;
    left: -7%
}









figure#article2024Done-Sr-Tuyet-NIMG6618ecut + p {
    margin-top: 0em;
    text-indent: 0em !important;
}

html:lang(vi) figure#article2024Done-Sr-Tuyet-NDSC00153e {
    margin-top: 3em;
}
html:lang(en) figure#article2024Done-Sr-Tuyet-NDSC00153e {
    width: 75%;
}

.article-theo-dau-chan-xua .verse {
    column-span: all;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 19em;
    padding-left: 3em;
}

.article-giai-toa-han-thu-khoi-suoi-yeu-thuong .editors-preface::after {
    display: none;
}

.article-giot-nuoc-trong-dong-song-tang-than ul li::before {
    content: "— ";
}
.article-giot-nuoc-trong-dong-song-tang-than ul li {
    font-style: italic;
}


figure#calligraphyarticle-titles-2-and-dividers5-maskedDividers2-1,
figure#calligraphyarticle-titles-2-and-dividers5-maskedDividers1-1
{
    display: block;
    column-span: all;
    float: none;
    width: 40%;
    padding-left: 8%;
    margin-top: 15pt;
    margin-bottom: 1pt;
    margin-left: auto;
    margin-right: auto;
}

.PAGE-OF-article2024Done-Memorial-CeremonyHueCeremonyLe-dai-tuong-19 .last-article-element::after,
.PAGE-OF-article2024Done-Memorial-CeremonyHueCeremonyLe-dai-tuong-4-copy .last-article-element::after,
.PAGE-OF-article2024ScannedDrawings0705-Ky-to-dje-nhie .last-article-element::after,
.PAGE-OF-article2024Done-BrDJuc-DJinhRains-retreat-23-249 .last-article-element::after {
    display: none;
}



html:lang(en) figure#article2024Done-Br-Minh-HyMG9118 {
    display: inline;
    float: left;
    margin-right: 0.9em;
    padding-top: 1.3em;
    margin-left: -3.5em;
    margin-bottom: 0.6em;
    margin-top: 0em;
    width: 70%;
}

.article-theo-dau-chan-xua p {
    font-size: 110%;
    line-height: 130%;
}

figure.hueMemorial {
    height: 51mm;
}
figure.hueMemorialEN {
    width: 85mm;
    height: 55.5mm;
    margin-bottom: 0em;
    margin-top: 6mm;
}
figure.hueMemorialEN.p2 {
    height: 48.5mm;
}
/* normally I would use column-span: all, but for some reason, it does not break the previous images correctly */
figure.hueMemorialEN.p2end {
    /* column-span: all; */
    width: 175.5mm;
    max-width: none;
    margin-top: 10mm;
}


/* those will all crop on the sides left and right */
figure.lmnqRainsSCCK img,
figure.lmnq1 img {
    width: auto;
    height: 100%;
}
/* lmnq1 top */
.PAGE-OF-article2024Done-Review-of-the-YearGreat-Ordination-Ceremony08 article {
    margin-top: 13mm !important;
}
figure.lmnq1 {
    height: 59mm;
}
figure.lmnq3 {
    height: 48mm;
}
figure.lmnq4 {
    height: 47mm;
}
figure.lmnq6 {
    height: 56mm;
    margin-top: 1.6em;
    margin-bottom: 0;
}
figure.lmnq7 {
    height: 63mm;
}
figure.lmnqSummer {
    height: 88mm;
}
figure.lmnqWakeUp {
    height: 54mm;
}
figure.lmnqWakeUpSlim {
    height: 34.7mm;
}
figure.lmnqEducators {
    height: 51mm;
}
figure.lmnqHFarm {
    height: 47mm;
}
figure.lmnqHFarmFirst {
    height: 87.8mm;
}
figure.lmnqRainsSCCK {
    height: 80.58mm;
}
html:lang(en) figure.lmnqRainsSCCK {
    height: 95.4mm;
}
figure.lmnqHFarmBig {
    height: 78mm;
}
figure.lampT {
    height: 50mm;
}
figure.lmnqNovices {
    height: 47mm;
}
figure.lmnqLampSymbolic {
    height: 87mm;
}
/* I only define this height in order for the figcaption not to increase the figure */
figure#article2024Done-Review-of-the-YearScreenshot-from-2024-02-07-10-49-06,
figure#article2024Done-Review-of-the-YearSCCK-Photo-Van-Lan-Nguoi-Viet {
    height: 55mm;
}
figure#article2024Done-Review-of-the-YearScreenshot-from-2024-02-07-10-49-06,
figure#article2024Done-Review-of-the-YearSCCK-Photo-Van-Lan-Nguoi-Viet,
figure.lmnq7 {
    margin-top: 1.6em;
    margin-bottom: 0;
}
figure.lmnq4-2,
figure.lmnq4 {
    margin-top: 1.25em;
    margin-bottom: 0;
}
figure#article2024Done-Review-of-the-YearMonastic-on-Tour9ee37f7c-830f-4a3f-ae2d-bca7bdf6943a img {
    width: auto !important;
    height: 100%;
}


figure#article2024Done-Review-of-the-YearMonastic-on-Tour20230423172317-Beste {
    margin-top: 0em;
}


figure#article2024Done-Review-of-the-YearMonastic-on-Tour9ee37f7c-830f-4a3f-ae2d-bca7bdf6943a {
    height: 109mm;
}

.PAGE-OF-pageMarkerForGathas2024 blockquote {
    margin-top: 8pt !important;
    margin-bottom: 11pt!important;
}

figure.lmnqNovices,
figure.lampT,
figure.lmnqHFarmBig,
figure.lmnqEducators,
figure.lmnqWakeUp,
figure.lmnqSummer,
figure#article2024Done-Review-of-the-YearMonastic-on-Tour9ee37f7c-830f-4a3f-ae2d-bca7bdf6943a,
figure.lmnq4,
figure.lmnq3,
figure.transmissionCeremony,
figure.hueMemorial {
    margin-bottom: 0;
}

figure.lmnq5 {
    display: block;
    float: none;
    /* left: -12%; */
    column-span: all;
    /* default */
    width: 25%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* position: relative; */
    max-width: none !important;
}

/* toc */
div[data-page-number="3"] .pagedjs_margin-bottom {
    display: none;
}

/* the inner covers themselves did not account for the inside margins, so I add them manually  */
figure#LTLM47-2024-Inner-Covers-A4-Left {
    position: absolute;
    left: -5mm;
}
figure#LTLM47-2024-Inner-Covers-A4-Right {
    position: absolute;
    right: -5mm;
}

/* force line-break at the right position */
h1#honoring-our-teacher-thay-2-year-memorial-ceremony {
    padding-left: 12%;
    padding-right: 12%;
}

#li-honoring-our-teacher-thay-2-year-memorial-ceremony .toc-title {
    width: 56mm;
}

#li-i-have-arrived-i-am-home .toc-author {
    width: 70mm;
}


.columnBreakAfter {
    margin-bottom: 3em;
}

html:lang(vi) .PAGE-OF-article2024Done-Memorial-Ceremony67SuOng2ndYearMemorial220124crop article {
    margin-top: 36.5mm !important;
}
html:lang(en) .PAGE-OF-article2024Done-Memorial-Ceremony67SuOng2ndYearMemorial220124crop article {
    margin-top: 45.5mm !important;
}


.article-entering-the-field h2.author {
    margin-bottom: 14mm;
}
.article-entering-the-field .verse {
    font-size: 127%;
    line-height: 135%;
    font-family: "Gentium Plus";
    padding-left: 13mm;
}
.article-entering-the-field > p  {
    width: 64mm;
    padding-left: 8mm;
}

#SrBoDe-ImgLabel {
    position: absolute;
    right: 17mm;
    font-size: 80%;
    /* width: 70mm; */
    color: rgb(220, 220, 220);
    bottom: -138mm;
    text-shadow: 0.3pt 0.4pt 0px rgb(0, 0, 0);
}
