---
permalink: css/print/images-2024-Letter.css
---

{% extends "images-common-2024.njk" %}
{% block content %}

{% set items = (items.push(
["article2024Done-Review-of-the-YearTNH-Center528562133967da665de4eo",
    "110mm", "0mm", 10, 10]
), items)
%}

{% endblock %}
