---
permalink: css/print/images.css
---
html:lang(en) .pagedjs_left_page .pagedjs_margin-bottom-left {
    /* margin top size */
    background: 7% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p1 Harmony at home.webp' %}");
}
html:lang(vi) .pagedjs_left_page .pagedjs_margin-bottom-left {
    background: 7% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p1 Ngay Xuan Tren Hoa Duoi Thuan.webp' %}");
}

html:lang(en) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p2 Peace all around.webp' %}");
}
html:lang(vi) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p2 Bon Mua Trong Am Ngoai Em.webp' %}");
}


/* bulk-style all those images to be set fullsize at the bottom of the page
    parameters:
        1: height
        2: top-offset (pushes image down)
        3: start of fade-in gradient (top-down) in % percent
        4: end of fade-in gradient %
*/
{# sometimes, if the top-offset is too big, the fade will not display in the pdf. I do not know why  #}
{% set items = [
["su-ongDSC08780",
	"60mm", "0mm", 0, 35],
["sr-tu-nghiem-and-sr-dieu-nghiemSr-tu-nghiem2-edited",
	"110mm", "0mm", 20, 40],
["br-phap-niemCCI1120201800015-edit",
	"70mm", "0mm", 0, 40],
["sr-trang-bo-deIMG0331",
	"90mm", "0mm", 0, 50],
["sr-trang-bo-deIMG0359",
	"90mm", "0mm", 0, 60],
["sr-trang-bo-deIMG0443-e",
	"90mm", "0mm", 0, 50],
["sr-trang-bo-deSc-Bo-DJe-2-edit",
	"65mm", "0mm", 10, 30],
["br-troi-duc-hienBrDucHien-edit",
	"100mm", "0mm", 5, 40],
["br-troi-dao-biDSC6747-edited",
	"110mm", "0mm", 0, 20],
["sr-thao-nghiemIMG6614-edited",
	"90mm", "0mm", 0, 20],
["sr-thao-nghiemSc-Thao-N-2-edited",
	"95mm", "0mm", 0, 40],
["sr-thao-nghiemCCI0224201600039",
    "120mm", "11mm", 0, 0],
["richard-bradyEducators-retreat-in-Italy-Avalokita-centre1-e2",
	"80mm", "0mm", 0, 25],
["sr-chuan-nghiemSc-Chuan-N-3",
    "110mm", "0mm", 0, 50],
["dr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182-e",
	"90mm", "0mm", 10, 20],
["br-troi-dai-daoIMG0436-edited",
	"100mm", "0mm", 0, 25],
["br-phap-linhCS21202110152RL0936-crop4",
    "118mm", "0mm", 0, 0],
["br-minh-hyDSC3796-edit",
	"96mm", "0mm", 0, 30],
["br-phap-dungbai-T-Phap-Dung-4",
	"110mm", "0mm", 0, 20],
["br-phap-anthay-phap-an-edited",
	"70mm", "0mm", 25, 45],
["br-phap-anDSC5530-edited",
	"90mm", "0mm", 15, 45],
["br-phap-nguyenbai-T-Phap-Nguyen-2e",
	"125mm", "0mm", 0, 20],
["br-phap-nguyenBOO6566e",
	"75mm", "0mm", 0, 20],
["sr-tue-nghiem20211212087e",
	"90mm", "0mm", 20, 45],
["sr-bao-nghiemSr-Bao-Ne",
	"85mm", "0mm", 25, 45],
["sr-thuan-khanhIMG5032q50",
	"95mm", "0mm", 0, 35],
["sr-thoai-nghiemDSC1153e",
	"60mm", "5mm", 37, 50],
["br-phap-huuBr-Phap-Huu-e",
	"130mm", "0mm", 0, 20],
["br-phap-luuEducators-retreat-in-Uganda-20193-Credit-Evermind-Media",
	"150mm", "0mm", 0, 0],
["br-phap-luuEducators-Workshop-2017-18-group-photo-edit",
	"90mm", "0mm", 0, 20],
["thay-phap-khatrang-tuyet-hoa-illustration-pbieu-article-1-composition-light3",
	"0mm", "0mm", 0, 0],
["sr-doan-nghiemSr-Doan-N-edited",
	"85mm", "0mm", 10, 30],
["br-phap-hoiBr-Phap-Hoi-2-e",
	"120mm", "0mm", 0, 30],
["mick-mcevoyHappy-Farm",
	"118mm", "0mm", 0, 20],
["mick-mcevoyRe-Wilding-project7",
	"100mm", "0mm", 0, 30],
["eulogy-in-vietnamL1004616-e",
	"125mm", "0mm", 0, 25],
["eulogy-in-PVIMG1576-e",
	"110mm", "0mm", 0, 50],
["sr-trang-mai-thonSrMaiThon2-edited",
	"73mm", "0mm", 0, 50],
["sr-tuyet-nghiemIMG0083-e",
	"80mm", "0mm", 30, 50],
["sr-trang-hien-nhanVITet202121-e",
	"80mm", "0mm", 0, 10],
["for-chaptersScan-Tranh-ve-Tuyet-Hoa-3edit",
	"10mm", "0mm", 0, 0],
["for-chapterscoc-ngoi-yen-e",
	"10mm", "0mm", 0, 0],
["for-chaptersIMG4739-e",
	"10mm", "0mm", 0, 0],
["sr-hoc-nghiemIMG8126-5x7-e",
	"110mm", "0mm", 0, 50],
["minh-huongKTDN-2019e",
	"115mm", "0mm", 0, 20],
["minh-huongDSC06614-e",
	"110mm", "0mm", 10, 55],
["hisae-matsuda-and-terry-barberParallaxTeamInPV",
	"105mm", "0mm", 25, 48],
["sr-chi-nghiemSc-Chi-Nghiem",
	"135mm", "0mm", 0, 20],
["tam-tue-vienDSC6069-e",
	"100mm", "0mm", 0, 0],
["pv-in-2021The-Art-of-Inner-HealingDSC1380",
	"78mm", "0mm", 30, 50],
["pv-in-2021Touching-realityIMG4949",
	"100mm", "0mm", 0, 20],
["pv-in-2021Rains-retreatIMG9858",
	"60mm", "0mm", 40, 55],
["pv-in-2021Lamp-transmission-ceremoniesDP-Lamp-Trans-2021",
	"70mm", "10mm", 25, 40],
["sr-tu-nghiem-and-sr-dieu-nghiemIMG9624-e",
	"70mm", "-65mm", 0, 0],
["br-troi-linh-namIMG-0811-e",
	"95mm", "0mm", 0, 20],
["sr-sung-nghiemDSC0127",
	"110mm", "0mm", 10, 30],
["tam-tue-vien13219",
	"90mm", "0mm", 0, 40],
["thank-you-thay21-day-retreat-2014-Thay-e",
	"70mm", "0mm", 0, 0],
["for-poemsDSC5746",
	"70mm", "0mm", 0, 30]

]
%}


{# commas are added automatically by nunjucks #}
{% idMap "figure#article", items %}
{
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    overflow: visible;
    /* this is removing an artefact in the pdf, which would otherwise display a thin line of the image above the white mask */
    border-top: 2px solid white;
}

{% idMap ".PAGE-OF-article", items, " .pagedjs_margin-bottom" %}
{
    {# filter: drop-shadow(0 0 1pt white) drop-shadow(0 0 3pt white); #}
    display: none !important;
}

{% for item in items %}
figure#article{{ item[0] }} {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + {{ item[1] }} + {{ item[2] }}) * -1);
    {%- if not (item[3] == 0 and item[4] == 0) %}
        mask-image: linear-gradient(to bottom,
            {% easingGradient item[3], item[4] %}
        );
        -webkit-mask-image: linear-gradient(to bottom,
            {% easingGradient item[3], item[4] %}
        );
    {%- endif %}
}
.PAGE-OF-article{{ item[0] }} .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - {{ item[1] }}) !important;
}

{# I had first factored out the static rules to apply to all elements, which did not work. I suspect because pagedjs somehow merges the static and dynamic rules (data-following) #}
figure#article{{ item[0] }} figcaption {
    position: absolute;
    right: 17mm;
    width: 70mm;
    color: rgb(211, 211, 211) !important;
    text-shadow:
        0 0 1pt black,
        0 0 1pt black,
        0 0 5pt black,
        0 0 10pt black
    ;
    {# 16mm if pagenumber is displayed #}
    bottom: calc(10mm + {{ item[2] }});
}
{% endfor %}




{# special case: to top #}
figure#articlesu-ongTheTrueSangha2 {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed)) * -1);
    {# in PDF output, setting "top" <0 does not work! we must use "bottom" as a workaround (ugly fixed setting for A4) #}
    bottom: calc(186mm - var(--pagedjs-footnotes-height) - var(--pagedjs-margin-bottom));
    {# in theory, more variables are: pagedjs-pagebox-height, imgHeight #}
    
    {# top: calc((var(--pagedjs-margin-top) + var(--bleed)) * -1) !important; #}
    mask-image: linear-gradient(to top,
        {% easingGradient 0, 35 %}
    );
    -webkit-mask-image: linear-gradient(to top,
        {% easingGradient 0, 35 %}
    );
    border-bottom: 2px solid white;
}

