---
permalink: css/print/images.css
---
html:lang(en) .pagedjs_left_page .pagedjs_margin-bottom-left {
    /* margin top size */
    background: 7% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p1 Harmony at home.webp' %}");
}
html:lang(vi) .pagedjs_left_page .pagedjs_margin-bottom-left {
    background: 7% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p1 Ngay Xuan Tren Hoa Duoi Thuan.webp' %}");
}

html:lang(en) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p2 Peace all around.webp' %}");
}
html:lang(vi) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p2 Bon Mua Trong Am Ngoai Em.webp' %}");
}


/* bulk-style all those images to be set fullsize at the bottom of the page
    parameters:
        1: height
        2: top-offset (pushes image down)
        3: start of fade-in gradient (top-down) in % percent
        4: end of fade-in gradient %
*/
{% set items = [

["su-ongDSC08780",
	"60mm", "0mm", 0, 20],
["sr-tu-nghiem-and-sr-dieu-nghiemSr-tu-nghiem2-edited",
	"110mm", "0mm", 20, 40],
["br-phap-niemCCI1120201800015-edit",
	"70mm", "0mm", 0, 40],
["sr-trang-bo-deIMG0331",
	"90mm", "0mm", 0, 40],
["sr-trang-bo-deSc-Bo-DJe-2-edit",
	"65mm", "0mm", 10, 30],
["br-troi-duc-hienBrDucHien-edit",
	"100mm", "0mm", 5, 30],
["br-troi-dao-biDSC6747-edited",
	"100mm", "0mm", 0, 20],
["sr-thao-nghiemIMG6614-edited",
	"90mm", "0mm", 0, 20],
["sr-thao-nghiemSc-Thao-N-2-edited",
	"95mm", "0mm", 0, 40],
["sr-thao-nghiemCCI0224201600039",
    "120mm", "11mm", 0, 0],
["richard-bradyEducators-retreat-in-Italy-Avalokita-centre1-edited",
	"90mm", "15mm", 0, 25],
["sr-chuan-nghiemSc-Chuan-N-3",
    "50mm", "10mm", 30, 45],
["dr-elli-weisbaumScientific-Day-Poster-Presentation-at-The-University-of-Toronto-20182",
	"90mm", "28mm", 8, 25],
["br-troi-dai-daoIMG0436-edited",
	"100mm", "10mm", 0, 20],
["br-phap-linhCS21202110152RL0936-crop3",
    "110mm", "0mm", 4, 7],
["br-minh-hyDSC3796-edit",
	"96mm", "0mm", 0, 30],
["br-phap-dungbai-T-Phap-Dung-4",
	"84mm", "0mm", 0, 20],
["br-phap-anthay-phap-an-edited",
	"70mm", "0mm", 25, 45],
["br-phap-anDSC5530-edited",
	"90mm", "10mm", 10, 35],
["br-phap-nguyenbai-T-Phap-Nguyen-2e",
	"125mm", "0mm", 0, 20],
["br-phap-nguyenBOO6566e",
	"62mm", "0mm", 0, 20],
["sr-tue-nghiem20211212087e",
	"90mm", "0mm", 0, 35],
["sr-bao-nghiemSr-Bao-Ne",
	"90mm", "0mm", 25, 40],
["br-phap-luuEducators-Workshop-2017-18-group-photo-edit",
	"90mm", "0mm", 0, 20],
["sr-thuan-khanhIMG5032q50",
	"95mm", "10mm", 0, 35],
["sr-thoai-nghiemDSC1153e",
	"60mm", "5mm", 37, 50],
["br-phap-huuBr-Phap-Huu-e",
	"130mm", "0mm", 0, 20],
["br-phap-luuEducators-retreat-in-Uganda-20193-Credit-Evermind-Media",
	"110mm", "0mm", 0, 0],
["thay-phap-khatrang-tuyet-hoa-illustration-pbieu-article-1-composition-light3",
	"0mm", "0mm", 0, 0],
["sr-doan-nghiemSr-Doan-N-edited",
	"85mm", "0mm", 10, 30],
["br-phap-hoiBr-Phap-Hoi-2-e",
	"125mm", "0mm", 0, 30]
]
%}

{# ["br-phap-huuIMG2211e",
	"130mm", "0mm", 0, 25], #}
{# ["sr-chan-ducSrChanDuc3-edited2",
	"75mm", "25mm", 10, 30], #}
{# ["sr-hoa-nghiemHinh-cho-bai-Sc-Hoa-N1",
	"90mm", "0mm", 0, 20], #}
{# ["sr-thuan-khanhtrang-tuyet-hoa-illustration-pbieu-article-1-composition-light3",
	"95mm", "0mm", 0, 0], #}


{# commas are added automatically by nunjucks #}
{% idMap "img#article", items %}
{
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    overflow: visible;
    /* this is removing an artefact in the pdf, which would otherwise display a thin line of the image above the white mask */
    border-top: 2px solid white;
}

{% idMap ".PAGE-OF-article", items, " .pagedjs_margin-bottom" %}
{
    filter: drop-shadow(0 0 1pt white) drop-shadow(0 0 3pt white);
    {# width: 0 !important;
    height: 0 !important;
    display: none !important; #}
}

{% for item in items %}
img#article{{ item[0] }} {
    bottom: calc((var(--pagedjs-margin-bottom) + var(--pagedjs-footnotes-height) + var(--bleed) + {{ item[1] }} + {{ item[2] }}) * -1);
    {%- if not (item[3] == 0 and item[4] == 0) %}
        mask-image: linear-gradient(to bottom,
            {% easingGradient item[3], item[4] %}
        );
        -webkit-mask-image: linear-gradient(to bottom,
            {% easingGradient item[3], item[4] %}
        );
    {%- endif %}
}
.PAGE-OF-article{{ item[0] }} .pagedjs_page_content {
    height: calc(100% - var(--pagedjs-footnotes-height) - {{ item[1] }}) !important;
}
{% endfor %}


{# special case: to top #}
img#articlesu-ongTheTrueSangha2 {
    margin: 0;
    max-width: none !important;
    position: absolute;
    z-index: -1;
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    width: calc(var(--pagedjs-pagebox-width) + (var(--bleed)) * 2);
    left: calc((var(--pagedjs-margin-left) + var(--bleed))*-1);
    top: calc((var(--pagedjs-margin-top) + var(--bleed))*-1);
    mask-image: linear-gradient(to top,
        {% easingGradient 0, 35 %}
    );
    -webkit-mask-image: linear-gradient(to top,
        {% easingGradient 0, 35 %}
    );
    border-bottom: 2px solid white;
}
