---
permalink: css/print/images-2023-A4.css
---

{% extends "images-common-2023.njk" %}
{% block content %}

{% set items = (items.push(
["br-thien-chi-doneIMG9655e",
    "120mm", "0mm", 0, 35],
["sr-mai-thonTMT1e",
    "120mm", "0mm", 0, 30],
["sr-dinh-nghiem-ky-niem-em-demDSC0067e",
    "70mm", "0mm", 15, 50],
["mimosa-family-doneIMG2185e",
    "120mm", "0mm", 0, 50],
["su-ong-dharma-talkJune-retreatUH090622-33cut",
    "90mm", "0mm", 5, 25],
["sr-dao-nghiemIMG4821e",
    "123mm", "0mm", 0, 40],
["sr-tam-duc-done012012IMG0090",
    "70mm", "0mm", 15, 65],
["sr-mai-phuong08IMG8311e",
    "110mm", "0mm", 15, 65],
["sr-mai-thonIMG-9110e",
    "85mm", "0mm", 0, 50]
), items)
%}

{% endblock %}
