{% set articles = collections["articles_" + year + "_" + locale] %}
{%- for article in articles -%}
    {% set newLine = "\n" %}
    {% set newSlug = article.data.author | slugify
        | replace("brother", "br")
        | replace("sister", "sr")
        | replace("-chan-", "-")
        | replace("sr-duc-", "sr-chan-duc-")
        | replace("su-co-duc-", "su-co-chan-duc-")
        + "--" + article.data.title | slugify %}
    {%- if article.fileSlug != newSlug -%}
{# git mv "{{ article.fileSlug }}.md" "{{ newSlug }}.md" #}
git mv "{{ article.fileSlug }}.md" "{{ newSlug }}.md"
    {%- endif -%}
{%- endfor -%}
