<!DOCTYPE html>
<html dir="ltr" lang="{{ locale }}" class="size-{{ size }}">
<head>
    <meta charset="utf-8" />
    <title>Test</title>

<style>
.test {
    break-after: page;
}

@page {
    margin-left: 33.27pt;
    margin-right: 64pt;
    @bottom-left {
        /* top right bottom left*/
        padding: 10pt 0 10pt 0;
        content: counter(page);
        font-size: 11pt;
    }
}
.toc-links::before {
    content: "p. " target-counter(attr(href url), page);
}
</style>

    <script src="/pagedjs/paged.polyfill.js"></script>
    {# paged.js preview in browser #}
    <link rel="stylesheet" href="/pagedjs/interface.css">
    {# pagedjs-cli --additional-script <script> #}
    <script src="/js/hooks-to-pagedjs.js"></script>
</head>
<body>
    <article class="test"><h1 id="ch1">Muh</h1></article>
    <article class="test"><h1 id="ch2">Blub</h1></article>
    <article class="test"><h1 id="ch3">Queen</h1></article>
    <article class="test"><h1 id="ch4">King</h1></article>
    <article class="test">
        <p>
            <a class="toc-links" href="#ch1">to Muh</a><br/>
            <a class="toc-links" href="#ch4">to king</a><br/>
        </p>
    </article>
</body>

</html>
