<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lá thư Làng Mai số 45  / Plum Village Newsletter #45 - 2022</title>
    <meta name="author" content="Làng Mai / CBZ Village des Pruniers" />
    <meta name="date" content="2022" />
    <link rel="stylesheet" href="{{ '/css/global.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/web.css' | url }}">
</head>

<body>
    <h2>Tiếng Việt</h2>
    <p><a href="/vi/print-preview/">Preview print version</a>, <a href="/vi/print/">Print</a></p>
    <ul>
        {%- for article in collections.articles_vi -%}
        <li><a href="{{ article.url }}">{{ article.data.author }} - {{ article.data.title }}</a></li>
        {%- endfor -%}
    </ul>
    <h2>English</h2>
    <p><a href="/en/print-preview/">Preview print version</a>, <a href="/en/print/">Print</a></p>
    <ul>
        {%- for article in collections.articles_en -%}
        <li><a href="{{ article.url }}">{{ article.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</body>

</html>
