<article>
    {% set artCall = articleCalligraphies(fileSlug) %}
    {%- if artCall.hasCalligraphy %}
        <h1 id="{{ title | slugify }}" class="chapter calligraphyTitle">
            <img class="articleCalligraphy" src="{{ pathPrefix }}{{ artCall.calligraphyFile }}">
        {# {% image artCall.calligraphyFile, "articleCalligraphy" %} #}
        </h1>
    {%- else %}
        <h1 id="{{ title | slugify }}" class="chapter">{{ title }}</h1>
    {%- endif %}

    <h2 class="author">{{ author }}</h2>
    {%- if pathPrefix != "" %}
        {{ content | safe | replace("/media/", pathPrefix+"/media/") }}
    {%- else %}
        {{ content | safe }}
    {%- endif %}
    <div class="article-end"></div>
</article>
