<style>
{# Paged.js doesn't support spreading these out across different files #}
@page {
    size: {{ size }};
    bleed: {{ bleed }};
    marks: {{ marks }};
}

html:lang(en) .pagedjs_left_page .pagedjs_margin-bottom-left {
    /* margin top size */
    background: 7% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p1 Harmony at home.jpg' %}");
}
html:lang(vi) .pagedjs_left_page .pagedjs_margin-bottom-left {
    background: 7% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p1 Ngay Xuan Tren Hoa Duoi Thuan.jpg' %}");
}

html:lang(en) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 60%/20% no-repeat url("{% imageSrc 'calligraphy/Parallels EN p2 Peace all around.jpg' %}");
}
html:lang(vi) .pagedjs_right_page .pagedjs_margin-bottom-right {
    background: 93% 50%/35% no-repeat url("{% imageSrc 'calligraphy/Parallels VI p2 Bon Mua Trong Am Ngoai Em.jpg' %}");
}

</style>
