<article style="font-size: 150%; line-height: 180%;">
    <p style="font-family: 'Cormorant Garamond';">
        <span>Cormorant Garamond Regular</span><br/>
        <span style="font-style: italic;">Cormorant Garamond italic</span><br/>
        <span style="font-weight: lighter;">Cormorant Garamond lighter</span><br/>
        <span style="font-weight: lighter; font-style: italic;">Cormorant Garamond lighter italic</span><br/>
        <span style="font-weight: 500;">Cormorant Garamond 500</span><br/>
        <span style="font-weight: 500; font-style: italic;">Cormorant Garamond 500 italic</span><br/>
        <span style="font-weight: 600;">Cormorant Garamond 600</span><br/>
        <span style="font-weight: 600; font-style: italic;">Cormorant Garamond 600 italic</span><br/>
        <span style="font-weight: bold;">Cormorant Garamond Bold</span><br/>
        <span><b>Cormorant Garamond Bold b</b></span><br/>
        <span style="font-weight: bold; font-style: italic;">Cormorant Garamond bold italic</span><br/>
        <span style="font-weight: 600; font-style: italic; font-feature-settings: 'ss01', 'dlig'">Cormorant Garamond bold italic poems Quy st sf dlig</span><br/>
    </p>
    <p style="font-family: 'Gentium Book Plus';">
        <span>Gentium Book Plus</span><br/>
        <span style="font-feature-settings: 'cv75' off">Ấấ Ầầ Ẩẩ Ẫẫ Ắắ Ằằ Ẳẳ Ẵẵ Ếế Ềề Ểể Ễễ Ốố Ồồ Ổổ Ỗỗ</span><br/>
        <span style="font-feature-settings: 'cv75' on">Ấấ Ầầ Ẩẩ Ẫẫ Ắắ Ằằ Ẳẳ Ẵẵ Ếế Ềề Ểể Ễễ Ốố Ồồ Ổổ Ỗỗ</span><br/>
        <span style="font-feature-settings: 'ss01' off">Ấấ Ầầ Ẩẩ Ẫẫ Ắắ Ằằ Ẳẳ Ẵẵ Ếế Ềề Ểể Ễễ Ốố Ồồ Ổổ Ỗỗ</span><br/>
        <span style="font-feature-settings: 'ss01' on">Ấấ Ầầ Ẩẩ Ẫẫ Ắắ Ằằ Ẳẳ Ẵẵ Ếế Ềề Ểể Ễễ Ốố Ồồ Ổổ Ỗỗ</span><br/>
        <span style="font-style: italic;">Gentium Book Plus italic</span><br/>
        <span style="font-weight: bold;">Gentium Book Plus bold</span><br/>
        <span style="font-weight: bold; font-style: italic;">Gentium Book Plus bold italic</span><br/>
    </p>
    <p style="font-family: 'Noto Serif TC';">
        <span>三摩跋提 善開 四聖諦 Noto Serif TC</span><br/>
    </p>
    <p style="font-family: 'HK-Kai';">
        <span>三摩跋提 善開 四聖諦 HK-Kai</span><br/>
    </p>
</article>
